<% for(var i=0; i < backends.length; i++){ %>
    <% for(var j=0; j < backends[i].machines.length; j++){ %>
    
    <li class="node <%= 'prov-'+backends[i].provider %>">
        <a href="#single-machine">
            <input type="checkbox" id='<%= 'chk-' + backends[i].machines[j].id %>' name='<%= 'chk-' + backends[i].machines[j].id %>' class="custom" />
            <label for='<%= 'chk-' + backends[i].machines[j].id %>' > 

            </label>
            <h3 class="name">
            <%= truncate_names(backends[i].machines[j].name, NODE_NAME_CHARACTERS) %>
            </h3>
            <span class="caption-wrapper">
            <h3 class="state <%= 'state'+backends[i].machines[j].state %>"><%= MACHINE_STATES[backends[i].machines[j].state] %></h3><span class="ui-li-count node-icon ui-icon ui-icon-alert alert-icon"></span>
            </span>
                
            <p class="description">
                <span class="tag backend ui-btn-corner-all <%= 'prov-' + backends[i].provider %> "><%= backends[i].name %></span>
                <span class="tag ui-btn-corner-all">tag1</span>
                <span class="tag ui-btn-corner-all">tag2</span>
            </p>
                <span class="bubble-container">
                    <span class="ui-li-count node-icon key-icon"></span>
                </span>
        </a>
    </li>
    
    <%} %>
<%} %>