<!-- Add backend button -->
<div id="add-backend" class="ui-link ui-btn ui-btn-add ui-btn-d ui-shadow floating-collapsible"
     data-role="collapsible"
     data-collapsed="true">

   <h4>Add cloud</h4>

    <div id="backend-add" class="ui-content">
        <div id="new-backend-provider"
            class="mist-select"
            data-role="collapsible"
            data-collapsed-icon="noicon"
            data-expanded-icon="noicon"
            data-iconpos="none"
            data-collapsed="false">
            {{#if view.provider}}
            <h4 class="{{if view.provider.title '' 'select-provider'}}" data-icon="false">
                   <span class="provider-icon-small">
                        <span class={{view.provider.className}}></span>
                    </span>
                    {{view.provider.title}}
            </h4>
            {{/if}}
            <ul class="mist-select" data-role="listview">
                {{#each view.providerList as |prov|}}
                    <li data-icon="false">
                        <a {{action "selectProvider" prov target=view}}>
                            <span class="provider-icon-small">
                                <span class={{prov.className}}></span>
                            </span>
                            {{prov.title}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
        {{#if view.provider.title}}
        <div id="backend-add-fields">
            {{#each view.providerFields as |field|}}
                {{#if field.show}}
                <div class="{{field.className}} field {{view.provider.provider}}">

                    <!-- Field Label -->
                    {{#if field.label}}
                        {{#unless field.isCheckbox}}
                        {{#unless field.isRegion}}
                        {{#unless field.isKey}}
                            <label for={{field.name}}>
                                {{unbound field.label}}
                            </label>
                        {{/unless}}
                        {{/unless}}
                        {{/unless}}
                    {{/if}}

                    <!-- Field Wrapper -->
                    <div class="field-wrapper {{if field.value '' 'empty'}} {{if field.optional '' 'required'}}">
                        <div class="first-child {{if field.helpText '' 'last-child'}}">
                            {{#if field.isText}}
                                {{input type="text"
                                    type=field.type
                                    id=field.name
                                    placeholder=field.placeholder
                                    value=field.value}}
                            {{/if}}
                            {{#if field.isFile}}
                                <a class="ui-btn ui-btn-d"
                                    id={{field.name}}
                                    {{action "uploadFile" field target=view}}>
                                        {{unbound field.buttonText}}
                                </a>
                            {{/if}}
                            {{#if field.isCheckbox}}
                                <label>
                                    {{view Mist.Checkbox
                                        checked=field.value}}
                                    {{field.label}}
                                </label>
                            {{/if}}
                            {{#if field.isKey}}
                                <div id={{field.name}}
                                    class="mist-select"
                                    data-role="collapsible"
                                    data-iconpos="right">
                                    <h4 class="ui-collapsible-heading ui-collapsible-heading-collapsed {{if field.value 'selected-key' 'pendingSelect'}}">{{#if field.value}}{{field.value}}{{else}}SELECT SSH KEY{{/if}}</h4>
                                    <ul data-role="listview">
                                        <li data-icon="false">
                                            <a {{action "selectKey" "" field target=view}}>-- None --</a>
                                        </li>
                                        {{#each Mist.keysController.model as |key|}}
                                            <li data-icon="false">
                                                <a {{action "selectKey" key field target=view}}>{{key.id}}</a>
                                            </li>
                                        {{/each}}
                                        <li data-icon="false" data-theme="d">
                                            <a {{action "createKeyClicked" field target=view}}>Add Key</a>
                                        </li>
                                    </ul>
                                </div>
                            {{/if}}
                            {{#if field.isRegion}}
                                <div id={{field.name}}
                                    class="mist-select"
                                    data-role="collapsible"
                                    data-iconpos="right"
                                    data-collapsed-icon="noicon"
                                    data-expanded-icon="noicon">
                                    <h4 class="{{if field.value '' 'pendingSelect'}}">{{#if field.value}}{{view.selectedRegion}}{{else}}Select Region{{/if}}</h4>
                                    <ul data-role="listview">
                                        {{#each view.provider.regions as |region|}}
                                            <li data-icon="false">
                                                <a {{action "selectRegion" region field target=view}}>
                                                    {{region.location}}
                                                </a>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/if}}
                            {{#if field.isSlider}}
                                <select class="toggle-field" data-role="slider"
                                {{action "switchToggled" field on="change" target=view}}>
                                    <option value="0">{{unbound field.offLabel}}</option>
                                    <option value="1">{{unbound field.onLabel}}</option>
                                </select>
                            {{/if}}
                        </div>
                        {{#if field.helpText}}
                            <div class="last-child">
                                <a class="ui-btn ui-btn-a ui-btn-icon-notext ui-icon-question"
                                    id={{field.helpId}}
                                    {{action "helpClicked" field target=view}}>
                                </a>
                            </div>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
            {{/each}}

            {{#if Mist.backendsController.addingBackend}}
                <div class="ajax-loader"></div>
            {{/if}}

            <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
                <a id="new-backend-ok"
                    class="{{if view.isReady '' 'ui-state-disabled'}} ui-btn ui-btn-d ui-caps ok-only"
                    {{action "addClicked" target=view}}>Add</a>
            </div>
        </div>
        {{/if}}
    </div>
</div>

<div id="add-backend-overlay" class="ui-popup-screen ui-overlay-b ui-screen-hidden"
     {{action "clickOverlay" target=view}}></div>
