<div id="backend-add"
    data-swipe-close="false"
    class="side-panel"
    data-role="panel"
    data-position="right"
    data-display="overlay"
    data-theme="c">

    <div data-role="header">
        <h1>Add cloud</h1>
    </div>

    <div data-role="content" data-theme="a">

        <label>Provider:</label>
        <div id="new-backend-provider"
            class="mist-select"
            data-role="collapsible"
            data-collapsed-icon="carat-d"
            data-expanded-icon="carat-u"
            data-iconpos="right"
            data-theme="a">
            <h4>{{#if Mist.backendAddController.provider.title}}
                   <span class="provider-icon-small">
                        <span class={{Mist.backendAddController.provider.className}}></span>
                    </span>
                    {{Mist.backendAddController.provider.title}}
                {{else}}
                    Select provider
                {{/if}}
            </h4>
            <ul class="mist-select" data-role="listview" data-theme="a">
                {{#each Mist.backendsController.providerList as |provider|}}
                    <li data-icon="false">
                        <a {{action "selectProvider" provider target=view}}>
                            <span class="provider-icon-small">
                                <span class={{provider.className}}></span>
                            </span>
                            {{provider.title}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
        <style>

        </style>
        <div id="backend-add-fields">
        {{#each view.providerFields as |field|}}
            {{#if field.show}}
            <div class="{{field.className}} field {{Mist.backendAddController.provider.provider}}">

                <!-- Field Label -->

                {{#if field.label}}
                    {{#unless field.isCheckbox}}
                        <label for={{field.name}}>
                            {{unbound field.label}}:
                        </label>
                    {{/unless}}
                {{/if}}

                <!-- Field Wrapper -->

                <div class="field-wrapper">
                    <div class="first-child {{if field.helpText '' 'last-child'}}">
                        {{#if field.isText}}
                            {{view Mist.TextField
                                data-theme="a"
                                type=field.type
                                id=field.name
                                placeholder=field.placeholder
                                value=field.value}}
                        {{/if}}
                        {{#if field.isFile}}
                            <a class="ui-btn ui-btn-a"
                                id={{field.name}}
                                {{action "uploadFile" field target=view}}>
                                    {{unbound field.buttonText}}
                            </a>
                        {{/if}}
                        {{#if field.isCheckbox}}
                            <label>
                                {{view Mist.Checkbox
                                    data-theme="a"
                                    checked=field.value}}
                                {{field.label}}
                            </label>
                        {{/if}}
                        {{#if field.isKey}}
                            <div id={{field.name}}
                                class="mist-select"
                                data-role="collapsible"
                                data-iconpos="right"
                                data-collapsed-icon="carat-d"
                                data-expanded-icon="carat-u"
                                data-theme="a">
                                <h4>{{#if field.value}}{{field.value}}{{else}}Select SSH Key{{/if}}</h4>
                                <ul data-role="listview">
                                    <li data-icon="false" data-theme="a">
                                        <a {{action "selectKey" "" field target=view}}>-- None --</a>
                                    </li>
                                    {{#each Mist.keysController.model as |key|}}
                                        <li data-icon="false" data-theme="a">
                                            <a {{action "selectKey" key field target=view}}>{{key.id}}</a>
                                        </li>
                                    {{/each}}
                                    <li data-icon="false" data-theme="d">
                                        <a {{action "createKeyClicked" field target=view}}>Add Key</a>
                                    </li>
                                </ul>
                            </div>
                        {{/if}}
                        {{#if field.isRegion}}
                            <div id={{field.name}}
                                class="mist-select"
                                data-role="collapsible"
                                data-iconpos="right"
                                data-collapsed-icon="carat-d"
                                data-expanded-icon="carat-u"
                                data-theme="a">
                                <h4>{{#if field.value}}{{view.selectedRegion}}{{else}}Select Region{{/if}}</h4>
                                <ul data-role="listview">
                                    {{#each view.providerRegions as |region|}}
                                        <li data-icon="false" data-theme="a">
                                            <a {{action "selectRegion" region field target=view}}>
                                                {{region.location}}
                                            </a>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/if}}
                        {{#if field.isSlider}}
                            <select class="toggle-field" data-theme="a" data-role="slider"
                            {{action "switchToggled" field on="change" target=view}}>
                                <option value="0">{{unbound field.offLabel}}</option>
                                <option value="1">{{unbound field.onLabel}}</option>
                            </select>
                        {{/if}}
                    </div>
                    {{#if field.helpText}}
                        <div class="last-child">
                            <a class="ui-btn ui-btn-a ui-btn-icon-notext ui-icon-question"
                                id={{field.helpId}}
                                {{action "helpClicked" field target=view}}>
                            </a>
                        </div>
                    {{/if}}
                </div>
            </div>
            {{/if}}
        {{/each}}
        </div>

        {{#if Mist.backendsController.addingBackend}}
            <div class="ajax-loader"></div>
        {{/if}}

        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
            <a class="ui-btn ui-btn-a ui-shadow ui-corner-all" {{action "backClicked" target=view}}>
                Back
            </a>
            <a id="new-backend-ok"
                class="{{if view.isReady '' 'ui-state-disabled'}} ui-btn ui-btn-d"
                {{action "addClicked" target=view}}>Add</a>
        </div>
    </div>
</div>

<div id="help-tooltip-screen"
    class="ui-popup-screen
        ui-overlay-b
        ui-screen-hidden">
</div>
<div id="help-tooltip-popup"
     class="pop
        ui-popup-container
        ui-popup-hidden
        ui-popup-truncate">
    <div id="help-tooltip"
         class="ui-popup
            ui-body-a
            ui-overlay-shadow
            ui-corner-all"
         data-role="popup"
         data-arrow="true"
         data-enhanced="true"
         data-transition="flip">
        <p>{{view.helpText}}
            {{#if view.helpHref}}
            <a target="_blank" href={{view.helpHref}}>
                Read more...
            </a>
            {{/if}}
        </p>
    </div>
</div>

{{view "keyAdd"}}

{{view "fileUpload"}}
