<div id="backend-add"
    data-swipe-close="false"
    class="side-panel"
    data-role="panel"
    data-position="right"
    data-display="overlay"
    data-theme="c">

    <div data-role="header">
        <h1>Add cloud</h1>
        <a class="ui-btn-right" data-icon="info" data-iconpos="notext" data-theme="a"
            target="_blank" href="https://mistio.zendesk.com/hc/en-us"></a>
    </div>

    <div data-role="content" data-theme="a">

        <label>Provider:</label>
        <div id="new-backend-provider"
            class="mist-select"
            data-role="collapsible"
            data-collapsed-icon="carat-d"
            data-expanded-icon="carat-u"
            data-iconpos="right"
            data-theme="a">
            <h4>{{#if Mist.backendAddController.provider.title}}
                   <span class="provider-icon-small">
                        <span {{bind-attr class="Mist.backendAddController.provider.className"}}></span>
                    </span>
                    {{Mist.backendAddController.provider.title}}
                {{else}}
                    Select provider
                {{/if}}
            </h4>
            <ul class="mist-select" data-role="listview" data-theme="a">
                {{#each Mist.backendsController.providerList}}
                    <li data-icon="false">
                        <a {{action "selectProvider" this target="view"}}>
                            <span class="provider-icon-small">
                                <span {{bind-attr class="this.className"}}></span>
                            </span>
                            {{this.title}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>

        <div id="backend-add-fields">
        {{#each field in view.providerFields}}
            {{#if field.show}}
            <div {{bind-attr class="field.className :field Mist.backendAddController.provider.provider"}}>
                {{#if field.label}}
                    {{#unless field.isCheckbox}}
                        <label {{bind-attr for="field.name"}}>
                            {{unbound field.label}}:
                        </label>
                    {{/unless}}
                {{/if}}
                {{#if field.isText}}
                    {{view Mist.TextField
                        data-theme="a"
                        type=field.type
                        id=field.name
                        placeholder=field.placeholder
                        valueBinding="field.value"}}
                {{/if}}
                {{#if field.isFile}}
                    <a class="ui-btn ui-btn-icon-right ui-icon-plus ui-btn-a ui-corner-all"
                        {{bind-attr id="field.name"}}
                        {{action "uploadFile" field target="view"}}>
                            {{unbound field.buttonText}}
                    </a>
                {{/if}}
                {{#if field.isCheckbox}}
                    <label>
                        {{view Mist.Checkbox
                            data-theme="a"
                           checkedBinding=field.value}}
                        {{field.label}}
                    </label>
                {{/if}}
                {{#if field.isKey}}
                    <div {{bind-attr id="field.name"}}
                        class="mist-select"
                        data-role="collapsible"
                        data-iconpos="right"
                        data-collapsed-icon="carat-d"
                        data-expanded-icon="carat-u"
                        data-theme="a">
                        <h4>{{#if field.value}}{{field.value}}{{else}}Select SSH Key{{/if}}</h4>
                        <ul data-role="listview">
                            <li data-icon="false" data-theme="a">
                                <a {{action "selectKey" "" field target="view"}}>-- None --</a>
                            </li>
                            {{#each Mist.keysController.content}}
                                <li data-icon="false" data-theme="a">
                                    <a {{action "selectKey" this field target="view"}}>{{this.id}}</a>
                                </li>
                            {{/each}}
                            <li data-icon="false" data-theme="d">
                                <a {{action "createKeyClicked" field target="view"}}>Add Key</a>
                            </li>
                        </ul>
                    </div>
                {{/if}}
                {{#if field.isRegion}}
                    <div {{bind-attr id="field.name"}}
                        class="mist-select"
                        data-role="collapsible"
                        data-iconpos="right"
                        data-collapsed-icon="carat-d"
                        data-expanded-icon="carat-u"
                        data-theme="a">
                        <h4>{{#if field.value}}{{view.selectedRegion}}{{else}}Select Region{{/if}}</h4>
                        <ul data-role="listview">
                            {{#each view.providerRegions}}
                                <li data-icon="false" data-theme="a">
                                    <a {{action "selectRegion" this field target="view"}}>
                                        {{this.location}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}
                {{#if field.isSlider}}
                    <select class="toggle-field" data-theme="a" data-role="slider"
                    {{action "switchToggled" field on="change" target="view"}}>
                        <option value="0">{{unbound field.offLabel}}</option>
                        <option value="1">{{unbound field.onLabel}}</option>
                    </select>
                {{/if}}
            </div>
            {{/if}}
        {{/each}}
        </div>


        {{#if Mist.backendsController.addingBackend}}
            <div class="ajax-loader"></div>
        {{/if}}

        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
            <a class="ui-btn ui-btn-a ui-shadow ui-corner-all" {{action "backClicked" target="view"}}>
                Back
            </a>
            <a id="new-backend-ok"
                {{bind-attr class="view.isReady::ui-state-disabled :ui-btn :ui-btn-d"}}
                {{action "addClicked" target="view"}}>Add</a>
        </div>
    </div>
</div>


{{view "keyAdd"}}

{{view "fileUpload"}}
