<!-- Popup Overlay -->

<div id="backend-edit-screen"
    class="ui-popup-screen
        ui-overlay-b
        ui-screen-hidden">
</div>

<div id="backend-edit-popup"
     class="pop
        ui-popup-container
        ui-popup-hidden
        ui-popup-truncate">

    <div id="backend-edit"
         class="mid-popup
            ui-popup
            ui-body-a
            ui-overlay-shadow
            ui-corner-all"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip">

        <div class="ui-header ui-bar-b ui-caps">
            <h1 class="ui-title">Edit Cloud</h1>

            <a href="javascript:void(0)" class="close" data-rel="back">&#10005;</a>
        </div>

        <div data-role="content" data-theme="a">
            <a id="rename-machine-option" class="ui-btn ui-btn-d ui-caps">Rename</a>

            <a id="shutdown-machine-option" class="ui-btn ui-btn-d ui-caps">Disable</a>

            <a id="destroy-machine-option" class="ui-btn ui-btn-d ui-caps">Destroy</a>
        </div>
    </div>
</div>

<!-- Popup Wrapper -->
<!-- <div id="backend-edit-popup"
     class="pop
        ui-popup-container
        ui-popup-hidden
        ui-popup-truncate"> -->

    <!-- Popup -->

    <!-- <div id="backend-edit"
         class="mid-popup
            ui-popup
            ui-body-a
            ui-overlay-shadow
            ui-corner-all"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip"> -->

         <!-- Header -->

        <!-- <div class="ui-header ui-bar-b ui-caps">

            <h1 class="ui-title">Edit cloud</h1>

            <a {{action "backClicked" target=view}} class="close">&#10005;</a>

        </div> -->

        <!-- Body -->

        <!-- <div role="main" class="ui-content" data-theme="a"> -->

            <!-- New backend title text field -->
            <!-- <label for=newTitle>Title</label>
            {{#if Mist.backendEditController.newTitle}}
                {{view Mist.TextField value=Mist.backendEditController.newTitle}}
            {{/if}} -->
            <!-- Backend state toggle switch -->

            <!-- <label for=newTitle>State</label>
            <div class="ui-field-contain">
                <select id="backend-toggle" data-role="slider"
                    {{action "stateToggleSwitched" target=view on="change"}}>
                        <option value="0">Disabled</option>
                        <option value="1">Enabled</option>
                </select>
                <span class="state">{{Mist.backendEditController.backend.state}}</span>
            </div>

            {{#if Mist.backendsController.deletingBackend}}
                <div class="ajax-loader"></div>
            {{/if}} -->

            <!-- Delete button - Back button -->

            <!-- <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
                <a class="ui-btn ui-caps ui-shadow ui-corner-all half no"
                    {{action "deleteClicked" target=view}}>
                    Delete
                </a>
            </div> -->

            <!-- Delete confirmation -->

            <!-- <div id="backend-delete-confirm" style="display:none">
                <label>Confirm cloud removal?</label>
                <label id="monitoring-message" style="display:none">There are monitored machines.
                    <br />Monitoring for these will be disabled
                </label>
                <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
                    <a class="ui-btn ui-btn-d ui-shadow ui-corner-all ui-caps back"
                        {{action "noClicked" target=view}}>No</a>
                    <a class="ui-btn ui-shadow ui-corner-all ui-caps no" id="button-confirm-disable"
                        {{action "yesClicked" target=view}}>Yes</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
