<!-- Popup Overlay -->

<div id="dialog-screen"
    class="ui-popup-screen ui-overlay-b ui-screen-hidden">
</div>

<!-- Popup Wrapper -->

<div id="dialog-popup"
    class="flip
        ui-popup-container
        ui-popup-hidden
        ui-popup-truncate">

    <!-- Popup -->

    <div id="dialog"
        class="large-popup
            ui-popup
            ui-body-inherit
            ui-overlay-shadow
            ui-corner-all"
        data-role="popup"
        data-enhanced="true"
        data-transition="flip"
        data-dismissible="false">


        <!-- Header -->

        <div class="ui-header ui-bar-b" role="banner">

            <h1 class="ui-title ui-caps">
                {{Mist.dialogController.options.head}}
            </h1>

        </div>

        <!-- Body -->

        <div class="ui-content ui-body-a" role="main">


            {{#each Mist.dialogController.options.body}}

                {{#if this.paragraph}}
                    <p {{bind-attr class="this.class"}}>{{this.paragraph}}</p>
                {{/if}}

                {{#if this.link}}
                    <a {{bind-attr href="this.href" class="this.class" target="this.target"}}
                        {{action "linkClicked" this target="view"}}>
                            {{this.link}}
                    </a>
                {{/if}}

                {{#if this.command}}
                    <pre class="command-container"
                        {{action "commandClicked" this on="click" target="view"}}>{{this.command}}</pre>
                {{/if}}

            {{/each}}


            <!-- Buttons -->

            {{#if view.isOK}}

                <a class="ui-btn ui-btn-a ui-corner-all ui-caps"
                    {{action "confirm" target="view"}}>OK</a>

            {{else}}{{#if view.isBack}}

                <a class="ui-btn ui-btn-a ui-corner-all ui-caps back"
                    {{action "confirm" target="view"}}>Back</a>

            {{else}}

                <div class="ok-cancel
                        ui-controlgroup
                        ui-controlgroup-horizontal
                        ui-group-theme-a
                        ui-corner-all"
                    data-role="controlgroup"
                    data-type="horizontal">

                    {{#if view.isOKCancel}}
                        <a class="ui-btn ui-caps"
                            {{action "reject" target="view"}}>
                                Cancel
                        </a>
                        <a class="ui-btn ui-btn-d ui-caps"
                            {{action "confirm" target="view"}}>
                                OK
                        </a>
                    {{/if}}

                    {{#if view.isYesNo}}
                        <a class="ui-btn ui-btn-d ui-caps"
                            {{action "reject" target="view"}}>
                                No
                        </a>
                        <a class="ui-btn ui-caps"
                            {{action "confirm" target="view"}}>
                                Yes
                        </a>
                    {{/if}}

                </div>

            {{/if}}{{/if}}

        </div>
    </div>
</div>
