<!-- Popup Wrapper -->
<div class="md-modal {{Mist.dialogController.options.size}} md-effect-1" id="dialog-popup">
    <div class="md-content">
        <div class="md-title {{if view.hasError 'failure'}} {{if view.hasSuccess 'success'}}">
            <h1>{{Mist.dialogController.options.head}}</h1>

            {{#unless view.isYesNo}}
                <a href="javascript:void(0)" class="close" {{action "close" target=view}}>&#10005;</a>
            {{/unless}}
        </div>

        <div class="md-body">
            {{#each Mist.dialogController.options.body as |optionBody|}}

                {{#if optionBody.paragraph}}
                    <p class= {{optionBody.class}}>{{optionBody.paragraph}}</p>
                {{/if}}

                {{#if optionBody.link}}
                    <a href= {{optionBody.href}} class= {{optionBody.class}} target= {{optionBody.target}} {{action "linkClicked" optionBody target=view}}>
                            {{optionBody.link}}
                    </a>
                {{/if}}

                {{#if optionBody.command}}
                    <pre class="command-container" {{action "commandClicked" optionBody on="click" target=view}}>
                        {{optionBody.command}}
                    </pre>
                {{/if}}

            {{/each}}

            <!-- Buttons -->

            {{#if view.isOK}}

                <a class="ui-btn ui-shadow ui-btn-d ui-caps" {{action "confirm" target=view}}>OK</a>

            {{else}}
                {{#if view.isBack}}

                    <a class="ui-btn ui-btn-a ui-caps back" {{action "confirm" target=view}}>Back</a>

                {{else}}
                    {{#unless view.isPlain}}
                        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">

                            {{#if view.isOKCancel}}
                                <a class="ui-btn ui-caps back" {{action "reject" target=view}}>
                                Cancel
                        </a>
                                <a class="ui-btn ui-btn-d ui-shadow ui-caps ui-shadow" {{action "confirm" target=view}}>
                                OK
                        </a>
                            {{/if}}

                            {{#if view.isYesNo}}
                                <a class="ui-btn ui-caps back" {{action "reject" target=view}}>
                                No
                        </a>
                                <a class="ui-btn ui-caps ui-shadow {{if Mist.dialogController.options.danger 'no' 'ui-btn-d'}}" {{action "confirm" target=view}}>
                                Yes
                        </a>
                            {{/if}}

                        </div>
                    {{/unless}}
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>

<!-- Popup Overlay -->
<div class="md-overlay"></div>
