<div id="file-upload" class="large-popup" data-role="popup" data-overlay-theme="b" data-transition="flip">

    <div class="ui-header ui-bar-b">
        <h1 class="ui-title">{{Mist.fileUploadController.title}}</h1>

        <a href="javascript:void(0)" class="close" data-rel="back">&#10005;</a>
    </div>

    <div class="ui-content">

        <label for="textarea-private-key">{{Mist.fileUploadController.label}}
            {{#if Mist.fileUploadController.uploadingFile}}
                <div class="ajax-loader add-key-loader"></div>
            {{/if}}
        </label>
        
        {{view Ember.TextArea
               id="upload-area"
               value=Mist.fileUploadController.file}}

        <a class="ui-btn back ui-caps"
            {{action "uploadClicked" target=view}}>Upload</a>

        <input id="file-upload-input" type="file" name="file" {{action "uploadInputChanged" on="change" target=view}}/>

        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
            <a id="file-upload-ok" class="ui-btn ui-btn-d ui-state-disabled ui-caps"
                {{action "doneClicked" target=view}}>Done</a>
        </div>
    </div>
</div>
