<div class="graph {{if graph.isHidden 'hidden'}}" draggable="true">
    <!--
        Graph Head
    -->

    <div class="header">

        <div class="title">
            {{graph.title}}
        </div>


        {{#if graph.pendingCreation}}

            <div class="ajax-loader"></div>
        {{else}}

            {{#if graph.pendingRemoval}}
                <div class="ajax-loader"></div>
            {{/if}}

            {{#if Mist.graphsController.fetchingStats}}
                <div class="ajax-loader fetching-stats-loader"></div>
            {{/if}}
        {{/if}}
        <!--
            Remove button
        -->

        {{#if Mist.graphsController.config.canModify}}
            {{#unless graph.isBuiltIn}}
                <a class="ui-btn icon-xx"
                    {{action "removeClicked" graph target=view.actionProxy}}>
                </a>
            {{/unless}}
        {{/if}}

        <!--
            Minimize button
        -->

        {{#if Mist.graphsController.config.canMinimize}}
            <a class="ui-btn icon-down"
                {{action "collapseClicked" graph target=view.actionProxy}}>
            </a>
        {{/if}}
    </div>

    <!--
        Graph Body
    -->
    {{#each view.graph.batches as |batch|}}
        <div class="graph-body" id={{batch.id}}>
        </div>
    {{/each}}

</div>
