<div id="graph-list-control">

    <div id="history-control" class="ui-mini">

        <!--
            Back Button
        -->
        <a id="history-control-back"
            class="time
                ui-btn
                ui-mini
                ui-corner-all
                ui-btn-inline
                ui-btn-icon-notext
                ui-icon-arrow-l"
            {{action "backClicked" target="view.actionProxy"}}>
        </a>

        <div id="time-window-control" class="ui-mini">
            <select data-inline="true" data-shadow="false" data-mini="true"
                {{action "timeWindowChanged" on="change" target="view.actionProxy"}}>
                    <option value="minutes" selected='true'>last 10 mins</option>
                    <option value="hour">last hour</option>
                    <option value="day">last day</option>
                    <option value="week">last week</option>
                    <option value="month">last month</option>
                    <option value="ft">from / to</option>
            </select>
        </div>

        <!--
            Stream Toggle
        -->
        {{#if Mist.graphsController.stream.isStreaming}}
            <!--a id="history-control-stream"
                class="ui-btn
                    ui-mini
                    ui-btn-b
                    ui-corner-all
                    ui-btn-inline"
                {{action "pauseClicked" target="view.actionProxy"}}>
                    Pause
            </a-->
        {{else}}

            <!--
                Forward Button
            -->
            <a id="history-control-forward"
                class="time
                    ui-btn
                    ui-mini
                    ui-corner-all
                    ui-btn-inline
                    ui-btn-icon-notext
                    ui-icon-arrow-r"
                {{action "forwardClicked" target="view.actionProxy"}}>
            </a>
        {{/if}}

    </div>
</div>
