<div class="graph" draggable="true">

    <!--
        Graph Head
    -->

    <div class="header">

        <div class="title">
            {{view.graph.title}}
        </div>


        {{#if view.graph.pendingCreation}}

            <div class="ajax-loader"></div>

        {{else}}

            {{#if view.graph.pendingRemoval}}
                <div class="ajax-loader"></div>
            {{/if}}

            {{#if Mist.graphsController.fetchingStats}}
                <div class="ajax-loader fetching-stats-loader"></div>
            {{/if}}
        {{/if}}
        <!--
            Remove button
        -->

        {{#if Mist.graphsController.config.canModify}}
            {{#unless view.graph.isBuiltIn}}
                <a class="ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext"
                    {{action "removeClicked" view.graph target="view.actionProxy"}}>x
                </a>
            {{/unless}}
        {{/if}}

        <!--
            Minimize button
        -->

        {{#if Mist.graphsController.config.canMinimize}}
            <a class="ui-btn ui-btn-c ui-btn-icon-notext ui-corner-all ui-icon-arrow-d"
                {{action "collapseClicked" view.graph target="view.actionProxy"}}>-
            </a>
        {{/if}}
    </div>

    <!--
        Graph Body
    -->
    {{#each view.graph.batches}}
        <div class="graph-body" {{bind-attr id="id"}}>
        </div>
    {{/each}}

</div>
