<div id="graph-list-control">

    <div id="history-control" class="ui-mini">
        <!--
            Back Button
        -->
        <a id="history-control-back"
            class="time
                ui-btn
                icon-prev"
            {{action "backClicked" target=view}}>
        </a>
        
        <div id="time-window-control" class="ui-mini {{Mist.graphsController.stream.isStreaming}}">
            <a class="ui-btn ui-caps"
                {{action "timeWindowClicked" target=view}}>
                    {{view.timeWindowText}}
            </a>
        </div>

        <!--
            Forward Button
        -->
        <a id="history-control-forward"
            class="time
                ui-btn
                icon-next {{if Mist.graphsController.stream.isStreaming 'ui-state-disabled' ''}}"
            {{action "forwardClicked" target=view}}>
        </a>

    </div>

    <div id="change-time-window-container" class="flip ui-popup-container ui-popup-hidden ui-popup-truncate">
        <div id="change-time-window" class="very-small-popup" data-role="popup" data-transition="flip" data-position-to="#time-window-control">
            <div class="ui-header ui-bar-b" role="banner">
                <h1 class="ui-title">Select Range</h1>

                <a href="javascript:void(0)" class="close" data-rel="back">&#10005;</a>
            </div>
            <ul data-role='listview'>
                <li data-icon="false">
                    <a {{action "timeWindowChanged" "minutes" "last 10 mins" target=view}}>
                        last 10 mins</a>
                </li>
                <li data-icon="false">
                    <a {{action "timeWindowChanged" "hour" "last hour" target=view}}>
                        last hour</a>
                </li>
                <li data-icon="false">
                    <a {{action "timeWindowChanged" "day" "last day" target=view}}>
                        last day</a>
                </li>
                <li data-icon="false">
                    <a {{action "timeWindowChanged" "week" "last week" target=view}}>
                        last week</a>
                </li>
                <li data-icon="false">
                    <a {{action "timeWindowChanged" "month" "last month" target=view}}>
                        last month</a>
                </li>
                <li data-icon="false">
                    <a {{action "timeWindowChanged" "range" "range" target=view}}>
                        custom range</a>
                </li>
            </ul>
        </div>
    </div>


    <!--
        Pick Range Popup
    -->

    <div id="pick-range-screen"
        class="ui-popup-screen ui-screen-hidden">
    </div>
    <div>
        <div id="pick-range-popup"
            class="flip
                ui-popup-container
                ui-popup-hidden
                ui-popup-truncate">
            <div id="pick-range"
                class="small-popup
                    ui-popup
                    ui-body-inherit
                    ui-overlay-shadow"
                data-role="popup"
                data-enhanced="true"
                data-position-to="#time-window-control"
                data-transition="flip">

                <div class="ui-header ui-bar-b" role="banner">
                    <h1 class="ui-title">Select Range</h1>

                    <a href="javascript:void(0)" class="close" {{action "rangeBackClicked" target=view}}>&#10005;</a>
                </div>
                <div class="ui-content ui-body-a" role="main">
                    <label>From</label>
                    {{view Mist.TextField
                        id="range-start"
                        placeholder="range start"}}
                    <label>To</label>
                    {{view Mist.TextField
                        id="range-stop"
                        placeholder="range stop"}}
                    <div class="ok-cancel
                            ui-controlgroup
                            ui-controlgroup-horizontal
                            ui-group-theme-a"
                        data-role="controlgroup"
                        data-type="horizontal">

                        <a id="key-add-ok" class="ui-btn ui-caps yes"
                            {{action "rangeOkClicked" target=view}}>
                                OK
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
