<div id="home-page" data-role="page" class="ui-page-active ui-page">

    <!-- Page header -->
    <div class="ui-header ui-bar-a">
        <div class="header-grid">
            <div class="ui-grid-b">
                <div class="ui-block-a"><span id="banner-logo"></span></div>
                <div class="ui-block-b"></div>
                <div class="ui-block-c"><div class="user-menu">{{component "user-menu"}}</div></div>
            </div><!-- /grid-b -->
        </div>
    </div>

    <!-- Page Body -->
    <div role="main" class="ui-content" data-theme="c">

        {{#if Mist.cloudsController.loading}}
            <!-- Loader !-->
        {{else}}
            {{#if Mist.cloudsController.model}}
                {{view "cloudAdd"}}
            {{else}}
            <div id="no-collection" class="ui-responsive">
                <div id="no-collection-inner" class="ui-shadow">
                    <span class="icon-cloud-check"></span>
                    <h1>Welcome to mist.io</h1>
                    <h2>Get started by adding your clouds.</h2>
                    {{view "cloudAdd"}}
                    <p>
                        Mist.io supports public &amp; private computing clouds, as well as<br>Docker, CoreOS, KVM & bare metal hosts.
                    </p>
                </div>
            </div>
            {{/if}}
        {{/if}}

        <!-- Clouds list -->
        <div id="cloud-buttons" data-role="controlgroup" data-type="horizontal"
            class="ui-controlgroup ui-controlgroup-horizontal ui-caps">
            {{#each Mist.cloudsController.model as |cloud|}}
                {{component "cloud-button" cloud=cloud
                       class="ui-btn ui-input-btn ui-shadow"}}
            {{/each}}
        </div>

        {{#if Mist.cloudsController.model.length}}
        <div id="dashboard-options" class="ui-grid-a ui-responsive">
            <div class="{{if Mist.isCore 'ui-block-a' ''}}">
                <div class="ui-body ui-shadow">
                    <!-- Navigation -->
                    <ul class="ui-listview ui-listview-inset ui-corner-all ui-caps options-list">
                        <!-- Machines link -->
                        <li class="ui-li-has-count ui-first-child">
                            {{#link-to 'machines' class="ui-btn ui-btn-icon-left icon-machine ui-alt-icon"}}
                                <span class="ui-li-count ui-body-inherit">
                                    {{view.machineCount}}
                                </span>
                                Machines
                            {{/link-to}}
                        </li>

                        <!-- Images link -->
                        <li class="ui-li-has-count">
                            {{#link-to 'images' class="ui-btn ui-btn-icon-left icon-image ui-alt-icon"}}
                                <span class="ui-li-count ui-body-inherit">
                                    {{Mist.cloudsController.imageCount}}
                                </span>
                                Images
                            {{/link-to}}
                        </li>

                        <!-- Networks link -->
                        {{#if Mist.cloudsController.hasNetworks}}
                        <li class="ui-li-has-count">
                            {{#link-to 'networks' class="ui-btn ui-btn-icon-left icon-network ui-alt-icon"}}
                                <span class="ui-li-count ui-body-inherit">
                                    {{Mist.cloudsController.networkCount}}
                                </span>
                                Networks
                            {{/link-to}}
                        </li>
                        {{/if}}

                        <!-- Keys link -->
                        <li class="ui-li-has-count">
                            {{#link-to 'keys' class="ui-btn ui-btn-icon-left icon-keys ui-alt-icon"}}
                                <span class="ui-li-count ui-body-inherit">
                                    {{Mist.keysController.model.length}}
                                </span>
                                Keys
                            {{/link-to}}
                        </li>

                        {{#if Mist.isCore}}
                        <!-- Scripts link -->
                        <li class="ui-li-has-count">
                            {{#link-to 'scripts' class="ui-btn ui-btn-icon-left icon-script ui-alt-icon"}}
                                <span class="ui-li-count ui-body-inherit">
                                    {{Mist.scriptsController.model.length}}
                                </span>
                                Scripts
                            {{/link-to}}
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>

            {{#if Mist.isCore}}
            <div class="ui-block-b">
                <div class="ui-body ui-shadow">
                    <div class="incidents {{if view.hasIncidents '' 'no-incidents'}} {{if Mist.isCore 'is-core' '' }} {{if Mist.cloudsController.hasNetworks 'has-networks' ''}}">
                        <h4 class="ui-caps">Incidents</h4>
                        {{#if view.hasIncidents}}
                            <ul class="ui-listview ui-listview-inset incident-list">
                                {{#unless Mist.openIncidents}}
                                <li class="no incident">
                                    <a href="javascript:void(0)" class="icon-check ui-btn ui-btn-icon-right ui-btn">No recent incidents</a>
                                </li>
                                {{/unless}}
                                {{#each Mist.openIncidents as |incident|}}
                                    {{#if incident.isClosed}}
                                        <li class="incident">
                                            <a class="icon-check ui-btn ui-btn-icon-right"
                                                {{action "incidentClicked" incident target=view}}>
                                                <span class="time">{{incident.closed}} ago </span>
                                                <span class="machine">
                                                    {{incident.machineName}}:
                                                </span>
                                                <span class="rule-condition">
                                                    {{incident.ruleText}}
                                                </span>
                                                <span class="duration">
                                                    for {{incident.duration}}
                                                </span>
                                            </a>
                                        </li>
                                    {{else}}
                                        <li class="alert incident">
                                            <a class="icon-alert-2 ui-btn ui-btn-icon-right"
                                                {{action "incidentClicked" incident target=view}}>
                                                <span class="machine">
                                                    {{incident.machineName}}:
                                                </span>
                                                <span class="rule-condition">
                                                    {{incident.ruleText}}
                                                </span>
                                                <span class="time">
                                                    {{incident.prettyTime}}
                                                </span>
                                            </a>
                                        </li>
                                    {{/if}}
                                {{/each}}
                            </ul>
                        {{else}}
                            <div class="no-incident">
                                <span class="icon-check"></span>
                                <h4 class="ui-caps">No Recent Incidents</h4>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/if}}
        </div><!-- /grid-a -->

        {{component "graph-list" actionProxy=view}}

        {{#if Mist.isCore}}
            <div class="logs ui-shadow" data-role="collapsible" data-collapsed="false">
               <h4>Activity log</h4>
               {{component "log-list"}}
            </div>
        {{/if}}
        {{/if}}
    </div>

    <div id="help-tooltip-screen"
        class="ui-popup-screen
            ui-overlay-b
            ui-screen-hidden">
    </div>
    <div id="help-tooltip-popup"
         class="pop
            ui-popup-container
            ui-popup-hidden
            ui-popup-truncate">
        <div id="help-tooltip"
             class="ui-popup
                ui-body-a
                ui-overlay-shadow
                ui-corner-all"
             data-role="popup"
             data-arrow="true"
             data-enhanced="true"
             data-transition="flip">
            <p>{{Mist.cloudAddController.helpText}}
                {{#if Mist.cloudAddController.helpHref}}
                <a target="_blank" href={{Mist.cloudAddController.helpHref}}>
                    Read more...
                </a>
                {{/if}}
            </p>
        </div>
    </div>

    {{component "file-upload"}}
    {{component "key-add"}}
    {{component "cloud-edit"}}
    {{component "dialog-popup"}}
</div>
