<div id="image-list-page" data-role="page" class="ui-page-active">

    <div data-role="header" data-theme="a">
        <!-- Page header -->
        <div class="ui-header ui-bar-a">
            <div class="header-grid">
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        {{#link-to 'index' class="responsive-button ui-btn icon-prev ui-alt-icon ui-caps
                        ui-btn-icon-left ui-corner-all nav-back"}}<span>Home</span>{{/link-to}}
                    </div>

                    <div class="ui-block-b">
                        <h1 class="ui-title">Images</h1>
                    </div>

                    <div class="ui-block-c">
                        <div class="user-menu">
                            {{component "user-menu"}}
                        </div>
                    </div>
                </div><!-- /grid-b -->
            </div>
        </div>
    </div>

    <div data-role="content" data-theme="a">
        <div id="image-list-container" class="ui-shadow">
            <div class="images-header"></div>

            {{#if Mist.backendsController.loadingImages}}
                <div class="ajax-loader"></div>
            {{/if}}

            {{#if Mist.imageSearchController.isSearching}}
                <div class="ajax-loader"></div>
            {{/if}}

            <ul id="image-list"
                data-role="listview"
                data-filter="true"
                data-inset="true"
                data-filter-placeholder="Filter images"
                class="checkbox-list">
                {{#each view.renderedImages as |image|}}
                    {{component "image-list-item" image=image class="checkbox-link"}}
                {{/each}}
            </ul>

            {{#if view.renderingMoreImages}}
                <div class="ajax-loader"></div>
            {{/if}}

            <a id="images-advanced-search" class="ui-btn ui-btn-d ui-shadow ui-corner-all"
                {{action "searchClicked" target=view}}>
                <span>
                    {{#if view.searchingImages}}
                        Please wait...
                    {{else}}
                        Continue search on server...
                    {{/if}}
                </span>
            </a>
        </div>
        <div class="small-padding"></div>

    </div>

    {{component "dialog-popup"}}

    {{component "machine-add"}}

</div>
