<label
    {{action "toggleImageStar" target=view}}>
    {{view Mist.Checkbox checked=image.star}}
</label>

{{#link-to "image" image}}
	<div class="ui-grid-a">
        <div class="ui-block-a">
        	<h3>{{unbound image.name}}</h3>
        </div>
        <div class="ui-block-b">
			<p class="tag">{{image.cloud.title}}</p>
			<p class="tag title">{{unbound image.id}}</p>
        </div>    	
    </div>    
{{/link-to}}