<div id="image-list-page" data-role="page" class="ui-page-active">

    <div data-role="header" data-theme="a">
        <!-- Page header -->
        <div class="ui-header ui-bar-a">
            <div class="header-grid">
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        {{#link-to 'index' class="responsive-button ui-btn icon-prev ui-alt-icon ui-caps
                        ui-btn-icon-left ui-corner-all nav-back"}}<span>Home</span>{{/link-to}}
                    </div>

                    <div class="ui-block-b">
                        <h1 class="ui-title">Images</h1>
                    </div>

                    <div class="ui-block-c">
                        <div class="user-menu">
                            {{component "user-menu"}}
                        </div>
                    </div>
                </div><!-- /grid-b -->
            </div>
        </div>
    </div>

    <div data-role="content" data-theme="a">
        <div id="image-list-container" class="ui-shadow">
            <div class="images-header">
                <div class="image-search-container">
                    {{#if Mist.imageSearchController.searchTerm}}
                        <span {{action "clearClicked" target=view}} class="icon-xx"></span>
                    {{else}}
                        <span class="icon-search"></span>
                    {{/if}}
                    {{input value=Mist.imageSearchController.searchTerm placeholder="Filter images" id="search-term-input" class="image-search"}}
                </div>
            </div>

            {{#if Mist.cloudsController.loadingImages}}
                <div id="image-load-loader" class="ajax-loader"></div>
            {{/if}}

            {{#if Mist.imageSearchController.isSearching}}
                <div id="image-search-loader" class="ajax-loader"></div>
            {{/if}}

            <ul id="image-list"
                data-role="listview"
                data-inset="true"
                class="checkbox-list">
                {{#each view.renderedImages as |image|}}
                    {{component "image-list-item" image=image class="checkbox-link"}}
                {{/each}}
            </ul>

            {{#if Mist.imageSearchController.searchTerm}}
                <a id="images-advanced-search" class="ui-btn ui-btn-d ui-shadow ui-caps"
                    {{action "searchClicked" target=view}}>
                    <span>
                        {{#if Mist.imageSearchController.isSearching}}
                            Please wait
                        {{else}}
                            Load More
                        {{/if}}
                    </span>
                </a>
            {{/if}}
        </div>
        <div class="small-padding"></div>

    </div>

    {{component "dialog-popup"}}

</div>
