<div id="single-image-page" data-role="page" class="ui-page-active">

    <div data-role="header" data-theme="a">
        <!-- Page header -->
        <div class="ui-header ui-bar-a">
            <div class="header-grid">
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        {{#link-to 'images' class="responsive-button ui-btn icon-prev ui-alt-icon ui-caps
                        ui-btn-icon-left ui-corner-all nav-back"}}<span>Images</span>{{/link-to}}
                    </div>

                    <div class="ui-block-b">
                        <h1 class="ui-title">{{model.id}}</h1>
                    </div>

                    <div class="ui-block-c">
                        <div class="user-menu">
                            {{component "user-menu"}}
                        </div>
                    </div>
                </div><!-- /grid-b -->
            </div>
        </div>
    </div>

    <div data-role="header" data-theme="a" class="single-image-header">
        <div class="header-grid">
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <!-- Provider Icon -->
                    <span class="single-view-icon-wrapper">
                        <span id="single-view-provider-icon"
                            class={{view.providerIconClass}}>
                        </span>
                    </span>

                    <!-- OS Icon -->
                    <span class="single-view-icon-wrapper">
                        <span id="single-view-image-icon"
                            class={{view.imageIconClass}}>
                        </span>
                    </span>
                </div>

                <div class="ui-block-b">
                    {{component "machine-add"}}
                </div>
            </div><!-- /grid-b -->
        </div>
    </div>

    <div data-role="content" data-theme="a">
        <div id="single-image-info" class="ui-shadow" data-role="collapsible" data-collapsed="false">
            <h4>Image Information</h4>

            <table class="info-table">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{model.name}}</td>
                    </tr>
                    <tr>
                        <td>Id</td>
                        <td>{{model.id}}</td>
                    </tr>
                    <tr>
                        <td>Cloud</td>
                        <td>{{model.cloud.title}}</td>
                    </tr>

                    {{for-In model.extra}}
                </tbody>
            </table>
        </div>
    </div>
</div>