<td>{{unbound model.id}}</td>
<td>
    <div class="reserved">
        <span class="{{if isTogglingReserve 'ui-state-disabled'}}">
            {{#if model.isTogglingReserve}}
                <span class="ajax-loader"></span>
            {{/if}}
            <select name="reserved-slider" data-role="slider" data-mini="true"
                {{action "reservedToggled" target=view on="change"}}>
                <option value="off"></option>
                <option value="on" selected={{unbound model.reserved}}>Reserved</option>
            </select>
        </span>
    </div>
    <div class="associate">
        <span class="{{if model.isAssociating 'ui-state-disabled'}}">
            <a id={{view.domID}} class="{{if model.isAssociating 'associating ui-state-disabled' 'icon-down'}}
                    assign-network-btn ui-btn-icon-right ui-mini ui-btn ui-btn-a ui-shadow"
                {{action "assignClicked" target=view}}>
                    {{#if (unbound model.server.name)}}
                        {{unbound model.server.name}}
                    {{else}}
                        --
                    {{/if}}
            </a>
        </span>
    </div>
</td>
