<div id="single-key-page" data-role="page" class="ui-page-active">

    <div data-role="header" data-theme="b">

        <a href="#/keys" class="responsive-button ui-btn-left ui-btn ui-icon-arrow-l
            ui-btn-icon-left ui-shadow ui-corner-all">
            Keys
        </a>

        <h1>{{id}}</h1>

        {{view "userMenu"}}

    </div>

    <div data-role="content" data-theme="a">

        {{#if Mist.keysController.loading}}
        <div class="ajax-loader"></div>
        {{/if}}

         <div data-role="collapsible" data-collapsed="false">
            <h4>Public Key
                {{#if Mist.keysController.gettingPublicKey}}
                <div class="ajax-loader"></div>
                {{/if}}
            </h4>
            <input id="public-key" type="text" readonly="readonly" onclick="this.focus();this.select()"/>
        </div>

        <div data-role="collapsible">
            <h4>Private key
                {{#if Mist.keysController.gettingPrivateKey}}
                <div class="ajax-loader"></div>
                {{/if}}
            </h4>
            <a class="ui-btn ui-shadow ui-corner-all" {{action "displayClicked" target="view"}}>
                Display
            </a>
        </div>

        {{#if machines}}
        <div id="single-key-machines" data-role="collapsible">

            <h4>Machines
                {{#if Mist.backendsController.loadingMachines}}
                <div class="ajax-loader"></div>
                {{/if}}
            </h4>
            <ul data-role="listview" class="checkbox-list" data-inset="true">
                {{#each view.machines}}
                    {{view "machineListItem"
                           machineBinding="this"
                           class="checkbox-link"}}
                {{/each}}
            </ul>
        </div>
        {{/if}}

        <div class="large-padding"></div>

    </div>

    {{view "dialog"}}

    {{view "keyEdit"}}

    <div class="dual-action-footer" data-role="footer" data-theme="b">
        <table><tbody><tr><td>
            <a class="ui-btn ui-icon-edit ui-btn-icon-left ui-shadow ui-corner-all"
                {{action "renameClicked" target="view"}}>Rename</a>
        </td><td>
            <a class="ui-btn ui-icon-delete ui-btn-icon-left ui-shadow ui-corner-all"
                {{action "deleteClicked" target="view"}}>Delete</a>
        </td></tr></tbody></table>
    </div>

</div>
