<div id="key-list-page" data-role="page" class="ui-page-active">

    <div data-role="header" data-theme="a">
        <!-- Page header -->
        <div class="ui-header ui-bar-a">
            <div class="header-grid">
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        <a href="#" class="responsive-button ui-btn icon-prev ui-alt-icon ui-caps
                        ui-btn-icon-left ui-corner-all">Home</a>
                    </div>

                    <div class="ui-block-b">
                        <h1 class="ui-title">Keys</h1>
                    </div>

                    <div class="ui-block-c">
                        <div class="user-menu">
                            {{view "userMenu"}}
                        </div>
                    </div>
                </div><!-- /grid-b -->
            </div>
        </div>
    </div>

    <div data-role="content">
        <div class="ui-grid-b keys-header ui-shadow">
            <div class="ui-block-a">
                {{#if Mist.keysController.model.length}}
                    <a id="select-keys-btn" class="responsive-button ui-btn ui-btn-add ui-btn-d icon-down
                            ui-btn-icon-right" {{action "selectClicked" target=view}}></a>
                {{/if}}
            </div>
            <div class="ui-block-b"></div>
            <div class="ui-block-c">
                <a id="add-key-btn"
                   class="responsive-button ui-btn ui-btn-add ui-btn-d ui-icon-plus
                        ui-btn-icon-left ui-caps"
                   {{action "addClicked" target=view}}>Add</a>
           </div>
        </div><!-- /grid-b -->

        <ul id="key-list" data-role="listview"
            data-filter="true"
            data-inset="true"
            data-filter-placeholder="Filter keys"
            class="checkbox-list">
            {{#each Mist.keysController.model as |key|}}
                {{view "keyListItem" key=key class="checkbox-link"}}
            {{/each}}
        </ul>

        <div class="mid-padding"></div>

    </div>

    <div id="select-keys-popup" class="ui-mini" data-role="popup" data-overlay-theme="b" data-transition="flip" data-position-to="#select-keys-btn">
        <div class="ui-header ui-caps">Select</div>
        <ul data-role='listview'>
            <li data-icon="false">
                <a {{action "selectionModeClicked" true target=view}}>All</a>
            </li>
            <li data-icon="false">
                <a {{action "selectionModeClicked" false target=view}}>None</a>
            </li>
        </ul>
    </div>

    {{component "dialog-popup"}}
    {{component "key-add"}}
    {{component "key-edit"}}

    <div class="tri-action-footer" data-role="footer" data-theme="b">
        <table><tbody><tr><td>
            <a class="ui-btn icon-edit ui-btn-icon-right ui-caps"
                {{action "renameClicked" target=view}}>Rename</a>
        </td><td>
            <a class="ui-btn icon-xx ui-btn-icon-right ui-caps"
                {{action "deleteClicked" target=view}}>Delete</a>
        </td><td>
            <a class="ui-btn icon-star ui-btn-icon-right ui-caps"
                {{action "setDefaultClicked" target=view}}>Set default</a>
        </td></tr></tbody></table>
    </div>

</div>
