<!-- Popup Overlay -->

<div id="key-add-screen"
    class="ui-popup-screen ui-overlay-b ui-screen-hidden">
</div>

<!-- Popup Wrapper -->

<div id="key-add-popup"
    class="flip
        ui-popup-container
        ui-popup-hidden
        ui-popup-truncate">

    <!-- Popup -->

    <div id="key-add"
        class="large-popup
            ui-popup
            ui-body-inherit
            ui-overlay-shadow
            ui-corner-all"
        data-role="popup"
        data-enhanced="true"
        data-position-to="origin"
        data-transition="flip">


        <!-- Header -->

        <div class="ui-header ui-bar-b" role="banner">

            <h1 class="ui-title">Add key</h1>

            <a href="javascript:void(0)" class="close" data-rel="back">&#10005;</a>

        </div>

        <!-- Body -->

        <div class="ui-content ui-body-a" role="main">

            <!-- Key Name Field -->
            <div id="key-add-id-container" class="form-field required {{if Mist.keyAddController.keyId 'filled' 'empty'}}">
                <label for="key-add-id">Name</label>

                {{view Mist.TextField id="key-add-id"
                       value=Mist.keyAddController.keyId}}
            </div>


            <!-- Key Private Field -->
            <div id="key-add-private-container" class="form-field required {{if Mist.keyAddController.keyPrivate 'filled' 'empty'}}">
                <label for="key-add-private">Private Key
                    {{#if Mist.keyAddController.generatingKey}}
                        <div id="key-generate-loader" class="ajax-loader key-add-loader"></div>
                    {{else}} {{#if Mist.keyAddController.uploadingKey}}
                        <div class="ajax-loader key-add-loader"></div>
                    {{/if}} {{/if}}

                    {{view Ember.TextArea id="key-add-private"
                           value=Mist.keyAddController.keyPrivate}}
                </label>
            </div>


            <!-- Key Public Field -->
            {{#if Mist.keyAddController.keyPublic}}
            <div id="key-add-public-container">
                <label for="key-add-private">Public Key

                    {{view Ember.TextArea id="key-add-public"
                           value=Mist.keyAddController.keyPublic}}
                </label>
            </div>
            {{/if}}


            <!-- Generate and Upload buttons -->

            <div class="generate-upload ok-cancel
                    ui-controlgroup
                    ui-controlgroup-horizontal
                    ui-group-theme-d
                    ui-corner-all"
                data-role="controlgroup"
                data-type="horizontal">
                <a class="ui-btn ui-caps plain-link"
                    {{action "generateClicked" target=view}}>
                        Generate
                </a>

                <a class="ui-btn ui-caps plain-link"
                    {{action "uploadClicked" target=view}}>
                        Upload
                </a>
            </div>

            <!-- Hidden Input field for uploading ssh keys -->
            <div class="ui-screen-hidden">
                <input id="key-add-upload" type="file" name="file"
                    {{action "uploadInputChanged" on="change" target=view}}/>
            </div>

            {{#if Mist.keyAddController.addingKey}}
                <div id="key-add-loader" class="ajax-loader"></div>
            {{/if}}

            <!-- Back and Add buttons -->

            <div class="ok-cancel
                    ui-controlgroup
                    ui-controlgroup-horizontal
                    ui-group-theme-a
                    ui-corner-all"
                data-role="controlgroup"
                data-type="horizontal">

                <a id="key-add-ok" class="ui-btn ui-btn-d ui-shadow ui-caps ui-state-disabled"
                    {{action "addClicked" target=view}}>
                        Add
                </a>
            </div>

        </div>
    </div>
</div>
