<span class={{view.collapsedClass}}>
    <a class="ui-btn {{if view.log.error 'error'}}" {{action "toggleCollapse" target=view}}>
        <div class="ui-grid-b">
            <div class="ui-block-a">
                {{#if view.log.error}}
                    <div class="icon-warn"></div>
                {{/if}}
                <div>
                    {{unbound view.formatedAction}}{{#if view.isIncident}}: {{unbound view.log.condition}}
                    {{/if}}
                </div>
            </div>
            <div class="ui-block-b">
                <div class="tag tag-{{unbound view.log.type}}">{{unbound view.log.type}}</div>
                {{#if view.showEmail}}{{unbound view.log.email}}{{/if}}
            </div>
            <div class="ui-block-c">
                <div class="time">{{#if Mist.logsController.prettyTimeReady}}{{view.prettyTime}}{{/if}}</div>
            </div>
        </div>
    </a>
{{#unless view.isCollapsed}}
    <div class="details info-table">
        <table>
            <tbody>
            <tr>
                <td>Date</td>
                <td>{{unbound view.fullPrettyTime}}</td>
            </tr>
            {{#if view.cloudTitle}}
            <tr>
                <td>Cloud Title</td>
                <td>{{view.cloudTitle}}</td>
            </tr>
            {{/if}}
            {{#if view.machineLink}}
            <tr>
                <td>Machine</td>
                <td>
                    {{#link-to "machine" view.machineLink class="machine-log-link ui-shadow"}}
                        {{unbound view.machineLink.name}}
                    {{/link-to}}
                </td>
            </tr>
            {{/if}}
            {{#if view.scriptLink}}
            <tr>
                <td>Script</td>
                <td>
                    {{#link-to "script" view.scriptLink class="script-log-link ui-shadow"}}
                        {{unbound view.scriptLink.name}}
                    {{/link-to}}
                </td>
            </tr>
            {{/if}}
            {{#each view.details as |row|}}
                <tr>
                    <td>{{unbound row.key}}</td>
                    <td><div>{{unbound row.value}}</div></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/unless}}
</span>
