<span {{bind-attr class="view.collapsedClass"}}>
    <a class="ui-btn" {{action "toggleCollapse" target="view"}}>

        <div class="ui-grid-b">
            <div class="ui-block-a">
                <div>
                    {{unbound view.formatedAction}}{{#if view.isIncident}}: {{unbound view.log.condition}}
                    {{/if}}
                </div>
                {{#if view.log.error}}
                    <div class="ui-btn-icon-notext ui-icon-alert error"></div>
                {{/if}}
            </div>
            <div class="ui-block-b">
                <div class="tag">{{unbound view.log.type}}</div>
            </div>
            <div class="ui-block-c">
                <div class="time">{{view.prettyTime}}</div>
            </div>
        </div>
    </a>

    <div class="details info-table">
        <table>
            <tbody>
            <tr>
                <td>Date</td>
                <td>{{unbound view.fullPrettyTime}}</td>
            </tr>
            {{#if view.cloudTitle}}
            <tr>
                <td>Cloud Title</td>
                <td>{{view.cloudTitle}}</td>
            </tr>
            {{/if}}
            {{#if view.machineLink}}
            <tr>
                <td>Machine</td>
                <td>
                    {{#link-to "machine" view.machineLink}}
                        {{unbound view.machineLink.name}}
                    {{/link-to}}
                </td>
            </td>
            {{/if}}
            {{#each view.details}}
                <tr>
                    <td>{{unbound this.key}}</td>
                    <td><div>{{unbound this.value}}</div></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</span>
