<div class="log-list">
    {{view Mist.TextField id="log-filter" value=view.filterString placeholder="Filter..."}}  

    <fieldset data-role="controlgroup" data-type="horizontal">
        <input name="event"
            id="event-all"
            data-mini="true"
            value="on"
            checked="checked"
            type="radio"
            {{action "updateFilterFlags" "all" on="change" target=view}}>
        <label for="event-all">All</label>

        <input name="event"
            id="event-jobs"
            data-mini="true"
            value="off"
            type="radio"
            {{action "updateFilterFlags" "job" on="change" target=view}}>
        <label for="event-jobs">Jobs</label>

        <input name="event"
            id="event-requests"
            data-mini="true"
            value="off"
            type="radio"
            {{action "updateFilterFlags" "request" on="change" target=view}}>
        <label for="event-requests">Requests</label>

        <input name="event"
            id="event-incidents"
            data-mini="true"
            value="off"
            type="radio"
            {{action "updateFilterFlags" "incident" on="change" target=view}}>
        <label for="event-incidents">Incidents</label>

        <input name="event"
            id="event-sessions"
            data-mini="true"
            value="off"
            type="radio"
            {{action "updateFilterFlags" "session" on="change" target=view}}>
        <label for="event-sessions">Sessions</label>

        <input name="event"
            id="event-shell"
            data-mini="true"
            value="off"
            type="radio"
            {{action "updateFilterFlags" "shell" on="change" target=view}}>
        <label for="event-shell">Shell</label>

        <input name="event"
            id="event-error"
            data-mini="true"
            value="off"
            type="radio"
            {{action "updateFilterFlags" "error" on="change" target=view}}>
        <label for="event-error">Errors</label>
    </fieldset>

    {{#if view.searching}}
        <div id="log-search-loader" class="ajax-loader"></div>
    {{/if}}

    <ul class="ui-listview">
        {{#each Mist.logsController.model as |log|}}
            {{component "log-list-item" log=log}}
        {{/each}}
    </ul>

    {{#if view.fetchingHistory}}
        <div id="log-load-loader" class="ajax-loader"></div>
    {{/if}}

    {{#if view.noMoreLogs}}
        <div class="no-logs"></div>
    {{/if}}
    <div class="mid-padding"></div>
</div>
