<span class={{view.collapsedClass}}>
    <a class="ui-btn" {{action "toggleCollapse" target=view}}>
        <div class="ui-grid-b">
            <div class="ui-block-a">
                {{#if view.log.error}}
                    <div class="icon-warn"></div>
                {{/if}}
                <div>
                    {{unbound view.formatedAction}}{{#if view.isIncident}}: {{unbound view.log.condition}}
                    {{/if}}
                </div>
            </div>
            <div class="ui-block-b">
                <div class="tag">{{unbound view.log.type}}</div>
            </div>
            <div class="ui-block-c">
                <div class="time">{{view.prettyTime}}</div>
            </div>
        </div>
    </a>
{{#unless view.isCollapsed}}
    <div class="details info-table">
        <table>
            <tbody>
            <tr>
                <td>Date</td>
                <td>{{unbound view.fullPrettyTime}}</td>
            </tr>
            {{#if view.backendTitle}}
            <tr>
                <td>Backend Title</td>
                <td>{{view.backendTitle}}</td>
            </tr>
            {{/if}}
            {{#if view.machineLink}}
            <tr>
                <td>Machine</td>
                <td>
                    {{#link-to "machine" view.machineLink}}
                        {{unbound view.machineLink.name}}
                    {{/link-to}}
                </td>
            </tr>
            {{/if}}
            {{#each view.details as |row|}}
                <tr>
                    <td>{{unbound row.key}}</td>
                    <td><div>{{unbound row.value}}</div></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/unless}}
</span>
