<div id="machine-power-popup"
     class="tiny-popup"
     data-role="popup"
     data-overlay-theme="c"
     data-transition="slideup"
     data-position-to={{view.position}}>

    <div class="ui-header ui-bar-b ui-caps">
        <h1 class="ui-title">Actions</h1>

        <a href="javascript:void(0)" class="close" data-rel="back">&#10005;</a>
    </div>

    <div data-role="content" data-theme="a">
        {{#if Mist.machinePowerController.canRename}}
        <a id="rename-machine-option" class="ui-btn ui-btn-d ui-caps ui-shadow"
            {{action "actionClicked" "rename" target=view}}>Rename</a>
        {{/if}}
        {{#if Mist.machinePowerController.canStart}}
        <a id="start-machine-option" class="ui-btn ui-btn-d ui-caps ui-shadow"
            {{action "actionClicked" "start" target=view}}>Start</a>
        {{/if}}
        {{#if Mist.machinePowerController.canShutdown}}
        <a id="shutdown-machine-option" class="ui-btn ui-btn-d ui-caps ui-shadow"
            {{action "actionClicked" "shutdown" target=view}}>Shutdown</a>
        {{/if}}
        {{#if Mist.machinePowerController.canReboot}}
        <a id="reboot-machine-option" class="ui-btn ui-btn-d ui-caps ui-shadow"
            {{action "actionClicked" "reboot" target=view}}>Reboot</a>
        {{/if}}
        {{#if Mist.isCore}}
        {{#if Mist.machinePowerController.canRunScript}}
        <a id="script-machine-option" class="ui-btn ui-btn-d ui-caps ui-shadow"
            {{action "actionClicked" "script" target=view}}>Run Script</a>
        {{/if}}
        {{/if}}
        {{#if Mist.machinePowerController.canDestroy}}
        <a id="destroy-machine-option" class="ui-btn ui-btn-d ui-caps ui-shadow"
            {{action "actionClicked" "destroy" target=view}}>Destroy</a>
        {{/if}}
        {{#if Mist.machinePowerController.canUndefine}}
        <a id="undefine-machine-option" class="ui-btn ui-btn-d ui-caps ui-shadow"
            {{action "actionClicked" "undefine" target=view}}>Undefine</a>
        {{/if}}
        {{#if Mist.machinePowerController.canSuspend}}
        <a id="suspend-machine-option" class="ui-btn ui-btn-d ui-caps ui-shadow"
            {{action "actionClicked" "suspend" target=view}}>Suspend</a>
        {{/if}}
        {{#if Mist.machinePowerController.canResume}}
        <a id="resume-machine-option" class="ui-btn ui-btn-d ui-caps ui-shadow"
            {{action "actionClicked" "resume" target=view}}>Resume</a>
        {{/if}}

    </div>
</div>


{{component "machine-edit"}}
