<!-- Add machine button -->
<div id="create-machine" class="ui-link ui-btn ui-btn-add ui-btn-d ui-shadow floating-collapsible"
     data-role="collapsible"
     data-collapsed="true">

    <h4><span class="title">Create Machine</span></h4>

    <div id="machine-create" data-role="content" >

        <!-- Select Name -->

        <label for="create-machine-name">Name</label>
        {{view Mist.TextField
               id="create-machine-name"
               value=Mist.machineAddController.newMachineName}}

        <!-- Select Provider -->

        <label>Provider</label>
        <div id="create-machine-provider"
            data-role="collapsible"
            data-iconpos="right"
            data-collapsed-icon="carat-d"
            data-expanded-icon="carat-u"
            class="mist-select">
            <h4>{{#if Mist.machineAddController.newMachineProvider.provider}}
                   <span class="provider-icon-small">
                        <span class="{{Mist.machineAddController.newMachineProvider.className}}"></span>
                    </span>
                {{/if}}
                {{Mist.machineAddController.newMachineProvider.title}}
            </h4>

            {{#unless Mist.machineAddController.selectedImage}}
            <ul data-role="listview" >
                {{#each Mist.backendsController.model as |backend|}}
                    {{#if backend.canCreateMachine}}
                        <li data-icon="false">
                            <a {{action "selectProvider" backend target=view}}>
                                <span class="provider-icon-small">
                                    <span class={{backend.className}}></span>
                                </span>
                                {{backend.title}}
                            </a>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
            {{/unless}}
        </div>

        <!-- Select Image -->

        <label>Image</label>
        <div id="create-machine-image"
             data-role="collapsible"
             data-iconpos="right"
             data-collapsed-icon="carat-d"
             data-expanded-icon="carat-u"
             class="mist-select">
            <h4>
                {{#if Mist.machineAddController.newMachineImage.id}}
                    <span class="image-icon-small">
                        <span class={{Mist.machineAddController.newMachineImage.className}}>
                        </span>
                    </span>
                {{/if}}
                {{Mist.machineAddController.newMachineImage.name}}
            </h4>

            {{#unless Mist.machineAddController.selectedImage}}
            <ul data-role="listview" >
                {{#each Mist.machineAddController.newMachineProvider.images.model as |image|}}
                    {{#unless Mist.machineAddController.newMachineProvider.images.hasStarred}}
                        <li data-icon="false">
                            <span class="image-icon-small">
                                <span class={{image.className}}></span>
                            </span>
                            <a {{action "selectImage" image target=view}}>{{image.name}}</a>
                        </li>
                    {{else}} {{#if image.star}}
                        <li data-icon="false">
                            <a {{action "selectImage" image target=view}}>
                                <span class="image-icon-small">
                                    <span class={{image.className}}></span>
                                </span>
                                {{image.name}}
                            </a>
                        </li>
                    {{/if}} {{/unless}}
                {{/each}}
            </ul>
            {{/unless}}
        </div>

        <!-- Select Size -->
        <div id="size">
        <label>Size</label>
        <div id="create-machine-size"
             data-role="collapsible"
             data-iconpos="right"
             data-collapsed-icon="carat-d"
             data-expanded-icon="carat-u"

             class="mist-select">
            <h4>{{Mist.machineAddController.newMachineSize.name}}</h4>

            <ul data-role="listview" >
                {{#each Mist.machineAddController.newMachineProvider.sizes.model as |size|}}
                <li data-icon="false">
                    <a {{action "selectSize" size target=view}}>{{size.name}}
                        <span class="size-decription">
                         - disk:{{size.disk}}, ram:{{size.ram}}
                        </span>
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
        </div>

        <!-- Select Location -->

        <div id="location">
            <label>Location</label>
            <div id="create-machine-location"
                 data-role="collapsible"
                 data-iconpos="right"
                 data-collapsed-icon="carat-d"
                 data-expanded-icon="carat-u"

                 class="mist-select">
                <h4>{{Mist.machineAddController.newMachineLocation.name}}</h4>
                <ul data-role="listview">
                    {{#each Mist.machineAddController.newMachineProvider.locations.model as |location|}}
                    <li data-icon="false">
                        <a {{action "selectLocation" location target=view}}>{{location.name}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <!-- Docker Specific -->

        <div class="docker">

            <!-- Environment Vars -->
            <label for="create-machine-env">Environment Variables</label>
            {{view Mist.TextArea
                   id="create-machine-env"
                   value=Mist.machineAddController.newMachineDockerEnvironment}}

            <!-- Command -->
            <label for="create-machine-command">Command</label>
            {{view Mist.TextArea
                   id="create-machine-command"
                   value=Mist.machineAddController.newMachineDockerCommand}}

        </div>

        <!-- Select Key -->

        <div id="key">
        <label>Key</label>
        <div id="create-machine-key"
             data-role="collapsible"
             data-iconpos="right"
             data-collapsed-icon="carat-d"
             data-expanded-icon="carat-u"

             class="mist-select">
            <h4>{{Mist.machineAddController.newMachineKey.id}}</h4>

            <ul data-role="listview">
                {{#each Mist.keysController.model as |key|}}
                    <li data-icon="false">
                        <a {{action "selectKey" key target=view}}>{{key.id}}</a>
                    </li>
                {{/each}}
                <li data-icon="false" data-theme="d">
                    <a {{action "createKeyClicked" target=view}}>Add Key</a>
                </li>
            </ul>
        </div>
        </div>

        <!-- Select Networks -->

        <div id="create-machine-network">
            <label>Networks</label>
            <div data-role="collapsible"
                    data-iconpos="right"
                    data-collapsed-icon="carat-d"
                    data-expanded-icon="carat-u"

                    class="mist-select">
                <h4>Networks</h4>

                <fieldset data-role="controlgroup">
                    {{#each Mist.machineAddController.newMachineProvider.networks.model as |network|}}
                        <input id={{network.id}} name={{network.id}} checked={{network.selected}}
                            type="checkbox" {{action "toggleNetworkSelection" network on="change" target=view}}>
                        <label for={{network.id}} data-corners="false">
                            {{network.name}}
                        </label>
                    {{/each}}
                </fieldset>
            </div>
        </div>

        <!-- Select Script -->
        <div id="script">
            {{#if Mist.isCore}}
            {{#if Mist.scriptsController.length}}
                <select class="toggle-field ui-mini" data-role="slider"
                {{action "switchToggled" on="change" target=view}}>
                    <option value="basic">basic</option>
                    <option value="advanced">advanced</option>
                </select>
            {{/if}}
            {{/if}}
            <label for="create-machine-script">Script</label>

            <div class="script-option basic">
                {{view Mist.TextArea
                       id="create-machine-script"
                       value=Mist.machineAddController.newMachineScript}}
            </div>
            <div class="script-option advanced">
                <div id="create-machine-script-select"
                     data-role="collapsible"
                     data-iconpos="right"
                     data-collapsed-icon="carat-d"
                     data-expanded-icon="carat-u"

                     class="mist-select">
                    <h4>{{#if Mist.machineAddController.newMachineScript.name}}
                        {{Mist.machineAddController.newMachineScript.name}}
                        {{else}} Select {{/if}}
                    </h4>
                    <ul data-role="listview">
                        {{#each Mist.scriptsController as |script|}}
                            <li data-icon="false">
                                <a {{action "selectScript" script target=view}}>{{script.name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                {{view Mist.TextArea
                       id="create-machine-script-params"

                       placeholder="optional parameters"
                       value=Mist.machineAddController.newMachineScriptParams}}
            </div>
        </div>

        <div id="ports">
            <!-- Expose Ports -->
            <label>Ports</label>
            {{view Mist.TextArea
                   id="create-machine-ports"

                   placeholder="e.g. 80:80"
                   value=Mist.machineAddController.newMachineDockerPorts}}
        </div>


        <div class="azure">
            <!-- Expose Ports -->
            <label>Ports</label>
            {{view Mist.TextArea
                   id="create-machine-azure-ports"

                   placeholder="e.g. http tcp 80:80, smtp tcp 25:25, https tcp 443:443"
                   value=Mist.machineAddController.newMachineAzurePorts}}
        </div>


        <!-- Enable monitoring -->
        <div id="create-machine-monitoring" class="ui-state-disabled">
            <label>
            {{view Mist.Checkbox
                checked=Mist.machineAddController.newMachineMonitoring}}
            Enable monitoring
            </label>
        </div>

        <div id="create-machine-cost">
        {{#if view.price}}
            Estimated price
            <span>{{view.price}}</span>
        {{/if}}
        </div>

        {{#if Mist.machinesController.addingMachine}}
            <div id="machine-add-loader" class="ajax-loader"></div>
        {{/if}}

        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal" >
            <a id="create-machine-ok"
                class="ui-btn ui-btn-d ui-first-child ui-last-child ui-shadow ui-caps {{if Mist.machinesController.addingMachine 'ui-state-disabled'}}"
                    {{action "launchClicked" target="view"}}>Launch</a>
        </div>
    </div>
</div>

<div id="create-machine-overlay" class="ui-popup-screen ui-overlay-b ui-screen-hidden"
     {{action "clickOverlay" target=view}}></div>

{{component "key-add"}}
