<div id="machine-keys-panel"
    data-swipe-close="false"
    class="side-panel"
    data-role="panel"
    data-position="right"
    data-display="overlay"
    data-theme="c">

    <div class="ui-header ui-bar-b" role="banner">
        <h1 class="ui-title">Manage Keys</h1>
    </div>

    <div data-role="content" data-theme="c">

        {{#if Mist.machineKeysController.associatedKeys}}
        <ul id="machine-keys">
            {{#each Mist.machineKeysController.associatedKeys as |key|}}
                {{component "machine-keys-list-item" key=key}}
            {{/each}}
        </ul>
        {{/if}}

        {{#if Mist.keysController.associatingKey}}
            <div id="machine-associating-key-loader" class="ajax-loader"></div>
        {{else}} {{#if Mist.keysController.disassociatingKey}}
            <div id="machine-associating-key-loader" class="ajax-loader"></div>
        {{/if}} {{/if}}

        <a id="associate-btn"
           class="creation-button ui-btn ui-btn-d ui-btn-icon-right ui-icon-plus ui-shadow ui-caps"
           {{action "associateClicked" target=view}}>Add Key</a>
    </div>

</div>

{{component "key-add"}}

<div id="key-actions-popup"
    class="tiny-popup"
    data-role="popup"
    data-overlay-theme="b"
    data-transition="flip"
    data-position-to="#machine-keys"
    data-theme="a">
    <div class="ui-header ui-caps">
        <h1 class="ui-title">{{selectedKey.id}}</h1>

        <a href="javascript:void(0)" class="close" data-rel="back">&#10005;</a>
    </div>

    <ul data-role="listview">
        <li data-icon="false"><a {{action "removeClicked" target=view}}>Remove</a></li>
        <li data-icon="false"><a {{action "probeClicked" target=view}}>Probe</a></li>
        <li data-icon="false"><a {{action "viewClicked" target=view}}>View</a></li>
    </ul>
</div>

<div id="non-associated-keys-popup"
    class="tiny-popup"
    data-role="popup"
    data-overlay-theme="b"
    data-transition="flip"
    data-position-to=".keys-button">

    <div class="ui-header ui-caps">
        <h1 class="ui-title">Add Key</h1>

        <a href="javascript:void(0)" class="close" data-rel="back">&#10005;</a>
    </div>

    <ul data-role="listview">
        {{#each Mist.machineKeysController.nonAssociatedKeys as |key|}}
        <li data-icon="false">
            <a {{action "nonAssociatedKeyClicked" key target=view}}>{{key.id}}</a>
        </li>
        {{/each}}
        <li data-icon="false" data-theme="d">
            <a id="new-key-btn" {{action "newKeyClicked" target=view}}>New key</a>
        </li>
    </ul>
</div>

<div id="machine-userPort-popup"
    class="large-popup"
    data-role="popup"
    data-overlay-theme="b"
    data-position-to=".keys-button"
    data-transition="flip">

    <div class="ui-header ui-caps">
        <h1 class="ui-title">SSH user &amp; port</h1>

        <a href="javascript:void(0)" class="close" {{action "closeSSH_Details" target=Mist.machineKeysController}}>&#10005;</a>
    </div>

    <div class="ui-content ui-body-a" role="main">
        <div class="message">
            Cannot connect as root on port 22
        </div>

        <div class="form-field">
            <label for="user">User</label>
            {{view Mist.TextField
                   id="user"
                   placeholder="root"
                   value=Mist.machineKeysController.user}}
        </div>

        <div class="form-field">
            <label for="port">Port</label>
            {{view Mist.TextField
                   id="port"
                   placeholder="22"
                   value=Mist.machineKeysController.port}}
        </div>

        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
            <a id="tryAssociate" class="ui-btn ui-btn-d ui-caps"
                {{action "customAssociateClicked" target=view}}>Retry</a>
        </div>

    </div>
</div>
