<div id="machine-monitoring">

    {{#if machine.hasMonitoring}}

        {{#if view.pendingFirstStats}}
            <div id="machine-monitoring-disabled">

                <label id="enable-monitoring-label">
                    {{view.monitoringMessage}}
                </label>

                <div class="ajax-loader"></div>
            </div>
        {{/if}}

        <div id="graphs-wrapper"
            class="{{if view.pendingFirstStats 'hidden'}}">
                {{component "graph-list" actionProxy=view}}
        </div>

        {{#unless view.pendingFirstStats}}
            {{component "rule-list" rules=view.rules}}
        {{/unless}}

        <div id="monitoring-bottom-btns">
            <div data-rule="ui-grid-a">
                <div class="ui-block-a">
                    <a id="add-rule-button"
                      class="{{if Mist.rulesController.creatingPending 'ui-state-disabled'}}
                             {{if view.pendingFirstStats 'hidden'}}
                             ui-btn ui-shadow ui-btn-d ui-btn-icon-right icon-plus ui-caps"
                        {{action "addRuleClicked" target=view}}>
                            Add Rule
                    </a>
                </div>
            </div>
            <div class="ui-block-b">
                <a id="disable-monitor-btn"
                   class="{{if view.machine.disablingMonitoring 'ui-state-disabled'}}
                          ui-btn ui-shadow no ui-btn-icon-right icon-xx ui-caps"
                    {{action "disableMonitoringClicked" target=view}}>
                        Disable
                </a>
            </div>
        </div>

    {{else}}

        <div id="machine-monitoring-disabled">

            {{#if machine.enablingMonitoring}}

                <label id="enable-monitoring-label">
                    Enabling monitoring, please wait...
                </label>

                <div class="ajax-loader" id="machine-enable-monitoring-loader"></div>

            {{else}} {{#if machine.disablingMonitoring}}

                <label id="enable-monitoring-label">
                    Disabling monitoring...
                </label>

                <div class="ajax-loader" id="machine-enable-monitoring-loader"></div>

            {{else}}
                {{#if view.machine.cannotHaveMonitoring}}
                    <label id="enable-monitoring-label">
                        This machine cannot have monitoring since it is in "<span class="ui-caps">{{view.machine.state}}</span>" state.
                    </label>

                {{else}}
                    <label id="enable-monitoring-label">
                        View real time server analytics, get alerts
                        and set up automated actions.
                    </label>

                   {{#if view.gettingCommand}}
                        <div class="ajax-loader" id="machine-enable-monitoring-loader"></div>
                   {{/if}}
               {{/if}}

               <a id="enable-monitoring-btn"
                   class="{{if view.machine.cannotHaveMonitoring 'ui-state-disabled'}}
                       {{if view.machine.enablingMonitoring 'ui-state-disabled'}}
                       {{if view.gettingCommand 'ui-state-disabled'}}
                       ui-btn ui-btn-d ui-shadow ui-btn-icon-right icon-graph-1 ui-caps"
                   {{action "enableMonitoringClicked" target=view}}>
                       Enable Monitoring
               </a>
           {{/if}} {{/if}}
       </div>
    {{/if}}
</div>

{{component "rule-edit" metrics=this.model.metrics}}
