<div id="machine-list-page" data-role="page" class="ui-page-active">
    <div data-role="header" data-theme="a">
        <!-- Page header -->
        <div class="ui-header ui-bar-a">
            <div class="header-grid">
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        {{#link-to 'index' class="responsive-button ui-btn icon-prev ui-alt-icon ui-caps
                        ui-btn-icon-left ui-corner-all nav-back"}}<span>Home</span>{{/link-to}}
                    </div>

                    <div class="ui-block-b">
                        <h1 class="ui-title">Machines</h1>
                    </div>

                    <div class="ui-block-c">
                        <div class="user-menu">
                            {{component "user-menu"}}
                        </div>
                    </div>
                </div>
                <!-- /grid-b -->
            </div>
        </div>
    </div>

    <div data-role="content">
        <div id="machine-list-container" class="ui-shadow">
            <div class="ui-grid-b machines-header">
                <div class="ui-block-a">
                    {{#if Mist.cloudsController.model.length}}
                    <a id="select-machines-btn" class="responsive-button ui-btn ui-btn-add ui-btn-d icon-down
                            ui-btn-icon-right" {{action "selectClicked" target=view}}></a>
                    {{/if}}
                </div>
                <div class="ui-block-b"></div>
                <div class="ui-block-c">
                    {{component "machine-add"}}
                </div>
            </div>
            <!-- /grid-b -->

            <div class="machine-search-container">
                {{#if Mist.cloudsController.searchMachinesTerm}}
                    <span {{action "clearSearch" target=view}} class="icon-xx"></span>
                {{else}}
                    <span class="icon-search"></span>
                {{/if}}
                {{input value=Mist.cloudsController.searchMachinesTerm placeholder="Filter machines" class="machine-search"}}
            </div>

            <ul id="machine-list" data-role="listview" data-inset="true" data-theme="c" class="checkbox-list">
                {{#each view.machines as |machine|}}
                    {{#if machine.cloud.enabled}}
                        {{component "machine-list-item" machine=machine class="checkbox-link"}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>

        <div class="mid-padding"></div>
    </div>

    {{component "dialog-popup"}}

    {{component "machine-tags"}}

    {{component "machine-shell"}}

    {{component "machine-run-script"}}

    {{component "machine-power" position="#machines-power-btn"}}

    <div id="select-machines-popup" class="ui-mini" data-role="popup" data-overlay-theme="b" data-transition="flip" data-position-to="#select-machines-btn">
        <div class="ui-header ui-caps">Sort by</div>
        <ul data-role="listview">
            <li>
                <a class="ui-btn ui-btn-icon-left {{if view.sortByState 'icon-check'}}" {{action "sortBy" "state" target=view}}>State</a>
            </li>
            <li>
                <a class="ui-btn ui-btn-icon-left {{if view.sortByCloud 'icon-check'}}" {{action "sortBy" "cloud" target=view}}>Cloud</a>
            </li>
            <li>
                <a class="ui-btn ui-btn-icon-left {{if view.sortByName 'icon-check'}}" {{action "sortBy" "name" target=view}}>Name</a>
            </li>
        </ul>

        <div class="ui-header ui-caps">Select</div>
        <ul data-role="listview">
            <li data-icon="false">
                <a {{action "selectionModeClicked" "all" target=view}}>All</a>
            </li>
            <li data-icon="false">
                <a {{action "selectionModeClicked" "none" target=view}}>None</a>
            </li>
            {{#each Mist.cloudsController.model as |cloud|}}
                {{#if cloud.enabled}}
                    <li data-icon="false">
                        <a {{action "selectionModeClicked" cloud.title target=view}}>
                            {{cloud.title}}
                        </a>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    </div>

    <div class="tri-action-footer" data-role="footer" data-theme="b">
        <div class="ui-grid-b">
            <div class="ui-block-a">
                <a id="machines-tags-btn" class="ui-btn icon-tag ui-btn-icon-right ui-caps" {{action "tagsClicked" target=view}}>Tags</a>
            </div>
            <div class="ui-block-b">
                {{#if view.selectedMachine.isWindows}}
                    <a id="single-machine-shell-btn" target="_blank" href= {{view.selectedMachine.rdpURL}} class="{{if view.selectedMachine.canConnect '' 'ui-state-disabled'}} ui-btn ui-btn-icon-right ui-icon-gear ui-caps">Connect</a>
                {{else}}
                    <a id="machines-shell-btn" class="{{if view.selectedMachine.canConnect '' 'ui-state-disabled'}} ui-btn ui-btn-icon-right icon-terminal ui-caps"
                    {{action "shellClicked" target=view}}>Shell</a>
                {{/if}}
            </div>
            <div class="ui-block-c">
                <a id="machines-power-btn" class="ui-caps ui-btn ui-btn-icon-right icon-cog" {{action "actionsClicked" target=view}}>Actions</a>
            </div>
        </div>
    </div>
</div>
