<div id="machine-tags-popup"
     class="large-popup"
     data-role="popup"
     data-overlay-theme="b"
     data-transition="flip">

     <div class="ui-header ui-bar-b ui-caps">
         <h1 class="ui-title">Manage Tags</h1>

         <a href="javascript:void(0)" class="close" {{action "backClicked" target=view}}>&#10005;</a>
     </div>

    <div data-role="content" data-theme="a">

{{!--         <form {{action "addClicked" on="submit" target=view}}>
            <div class="field-wrapper">
                {{view Mist.TextField value=Mist.machineTagsController.newTag}}

                <button type="submit" id="add-tag-ok" class="ui-btn ui-btn-d ui-caps">Add</button>
            </div>
        </form> --}}

        <div class="field-wrapper pair">
            {{input placeholder="key"}}
            <span class="divider">:</span>
            {{input placeholder="value"}}
            <a class="ui-btn ui-btn-d ui-caps">Add</a>
        </div>

        {{#if Mist.machineTagsController.addingTag}}
            <div class="ajax-loader"></div>
        {{else}} {{#if Mist.machineTagsController.deletingTag}}
            <div class="ajax-loader"></div>
        {{/if}} {{/if}}

        <ul data-role="listview">
            {{#each Mist.machineTagsController.machine.tags as |tag|}}
                {{component "machine-tags-list-item" tag=tag}}
            {{/each}}
        </ul>

    </div>

</div>
