<!-- Popup Overlay -->

<div id="machine-run-script-screen"
    class="ui-popup-screen
        ui-overlay-b
        ui-screen-hidden">
</div>

<!-- Popup Wrapper -->
<div id="machine-run-script-popup"
     class="pop
        ui-popup-container
        ui-popup-hidden
        ui-popup-truncate">


    <!-- Popup -->

    <div id="machine-run-script"
         class="large-popup
            ui-popup
            ui-body-a
            ui-overlay-shadow
            ui-corner-all"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip">

         <!-- Header -->

        <div class="ui-header ui-bar-b">
            <h1 class="ui-title">Run Script</h1>

            <a href="javascript:void(0)" class="close" {{action "backClicked" target=view}}>&#10005;</a>
        </div>

        <!-- Body -->

        <div role="main" class="ui-content" data-theme="a">
            {{#if Mist.scriptsController.model.length}}
            <form {{action "runScript" on="submit" target=view}}>
                <div class="form-field {{if Mist.machineRunScriptController.scriptToRun.script.name 'filled' 'empty'}} required">
                    <label>Script</label>
                    <div id="machine-run-script-script"
                        data-role="collapsible"
                        data-iconpos="right"
                        data-collapsed-icon="carat-d"
                        data-expanded-icon="carat-u"
                        data-theme="d"
                        class="mist-select">
                        <h4>
                            {{#if Mist.machineRunScriptController.scriptToRun.script.name}}
                                {{Mist.machineRunScriptController.scriptToRun.script.name}}
                            {{else}}
                                Select script
                            {{/if}}
                        </h4>
                        <ul data-role="listview" data-theme="a">
                            {{#each Mist.scriptsController.model as |script|}}
                                <li data-icon="false">
                                    <a {{action "scriptClicked" script target=view}}>
                                        {{script.name}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

                <div class="form-field">
                    <label for="machine-run-script-params">Parameters (optional)</label>
                    {{view Mist.TextArea
                        id="machine-run-script-params"
                        placeholder="Optional script parameters"
                        value=Mist.machineRunScriptController.scriptToRun.parameters
                    }}
                </div>

                {{#if Mist.machineRunScriptController.runningScript}}
                    <div class="ajax-loader"></div>
                {{/if}}

                <div class="ok-cancel" data-role="controlgroup" data-type="horizontal" >
                    <button type="submit" id="machine-run-script-ok"
                        class="{{if Mist.machineRunScriptController.isReady '' 'ui-state-disabled'}} ui-btn ui-btn-d ui-shadow ui-caps ok-only">Run</button>
                </div>
            </form>
            {{else}}
                <label>No scripts added.</label>
            {{/if}}
        </div>
    </div>
</div>
