<div id="single-machine-page" data-role="page" class="ui-page-active" data-theme="a">

    <div data-role="header" data-theme="b">

        <a class="ui-btn
                ui-btn-icon-left
                ui-icon-arrow-l
                responsive-button"
            href="#/machines">Machines</a>

        <h1>{{name}}</h1>

        {{view "userMenu"}}

    </div>

    <div data-role="header" data-theme="a" class="single-machine-header">

        <!-- Provider Icon -->
        <span class="single-view-icon-wrapper">
            <span id="single-view-provider-icon"
                {{bind-attr class="view.providerIconClass"}}>
            </span>
        </span>

        <!-- OS Icon -->
        <span class="single-view-icon-wrapper">
            <span id="single-view-image-icon"
                {{bind-attr class="view.imageIconClass"}}>
            </span>
        </span>

        <!-- State label -->
        <h1 {{bind-attr class="state"}}>{{state}}</h1>

        <!-- Show spinner if machines are being loaded -->
        {{#unless id}}
            {{#if Mist.backendsController.loadingMachines}}
                <div class="ajax-loader"></div>
            {{/if}}
        {{/unless}}


        <!-- If machine is not running created, disable keys UI -->
        {{#unless isWindows}}
        <span id="mist-manage-keys"
            {{bind-attr
                class="view.isRunning::ui-state-disabled
                :ui-btn-right"}}>

            <!-- If machine is beging created, hide keys UI -->
            {{#unless pendingCreation}}
                {{#if keysCount}}
                    <a class="ui-btn
                            ui-shadow
                            ui-corner-all"
                        {{action "manageKeysClicked" target="view"}}>
                        {{keysCount}} keys
                    </a>
                {{else}}
                    <a class="ui-btn
                            ui-btn-d
                            ui-btn-icon-right
                            ui-icon-plus
                            ui-corner-all"
                        {{action "addKeyClicked" target="view"}}>
                        Add key
                    </a>
                {{/if}}
            {{/unless}}
        </span>
        {{/unless}}
    </div>

    <div data-role="content" data-theme="a">


        <!--

             Monitoring collapsible

        -->


        <div id="monitoring-collapsible" data-role="collapsible" data-collapsed="false">

            <h4>Monitoring</h4>

            {{view "machineMonitoring" machineBinding="view.machine"}}

        </div>


        <!--

             Information collapsibles

        -->


        <div data-role="collapsible" data-collapsed="false">

            <h4>Basic Info</h4>

            <table class="info-table">
                <tbody>
                <tr>
                    <td>Last probed</td>
                    <td> {{#if probing}}
                             probing... <div class="ajax-loader"></div>
                         {{else}}
                             {{view.lastProbe}}
                             <a id="machine-probe-btn"
                                class="ui-btn ui-shadow ui-corner-all"
                                {{action "probeClicked" target="view"}}>
                                    Probe
                            </a>
                         {{/if}}
                    </td>
                </tr>
                {{#if probed}}
                    <tr>
                        <td>Up and running for</td>
                        <td>{{view.upFor}}</td>
                    </tr>
                {{/if}}
                {{#if loadavg}}
                    <tr>
                        <td>Load</td>
                        <td>
                            <div class="loadleds">
                                <div {{bind-attr class="loadavg15 :led"}}>
                                </div>
                                <div {{bind-attr class="loadavg5 :led"}}>
                                </div>
                                <div {{bind-attr class="loadavg1 :led"}}>
                                </div>
                            </div>
                            {{loadavg}} {{#if cores}}- {{cores}} cores {{/if}}- {{loadavg5}}
                        </td>
                    </tr>
                {{/if}}
                {{#if latency}}
                    <tr>
                        <td>Latency</td>
                        <td>
                            <div {{bind-attr class=":netleds"}}>
                                <div {{bind-attr class="netled4 :netled1"}}>
                                </div>
                                <div {{bind-attr class="netled3 :netled2"}}>
                                </div>
                                <div {{bind-attr class="netled2 :netled3"}}>
                                </div>
                                <div {{bind-attr class="netled1 :netled4"}}>
                                </div>
                            </div>
                            {{latency}}ms</td>
                    </tr>
                {{/if}}
                {{#if loss}}
                    <tr>
                        <td>Packet loss</td>
                        <td>{{loss}}</td>
                    </tr>
                {{/if}}
                {{#if tags}}
                    <tr>
                        <td>Tags</td>
                        <td>
                            {{#each tags}}
                            <span class="tag">{{this}}</span>
                            {{/each}}
                        </td>
                    </tr>
                {{/if}}
                {{#if view.public_ips}}
                    <tr>
                        <td>Public IPs</td>
                        <td>
                            {{#each view.public_ips}}
                                <div class="ip">{{this}}</div>
                            {{/each}}
                        </td>
                    </tr>
                {{/if}}
                {{#if view.private_ips}}
                    <tr>
                        <td>Private IPs</td>
                        <td>
                            {{#each view.private_ips}}
                                <div class="ip">{{this}}</div>
                            {{/each}}
                        </td>
                    </tr>
                {{/if}}
                {{#if view.machine.df}}
                    <tr>
                        <td colspan="2"><div class="df">{{view.machine.df}}</div></td>
                    </tr>
                {{/if}}
                {{#each view.basicInfo}}
                    <tr>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                {{/each}}
            </tbody>
            </table>
        </div>

        {{#if view.metadata}}
            <div id="single-machine-metadata" data-role="collapsible">

                <h4>Full metadata list</h4>

                <table class="info-table">
                    <tbody>
                    {{#each view.metadata}}
                        <tr>
                            <td>{{key}}</td>
                            <td>{{value}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>

            </div>
        {{/if}}

        <div class="mid-padding"></div>

    </div>

    {{view "dialog"}}

    {{view "metricAdd"}}

    {{view "machineKeys"}}

    {{view "machineTags"}}

    {{view "machineShell"}}

    {{view "machinePower" position="#single-machine-power-btn"}}

    <div class="tri-action-footer" data-role="footer" data-theme="b">
        <table><tbody><tr><td>
            <a id="single-machine-tags-btn"
                {{bind-attr class="id::ui-state-disabled
                    can_tag::ui-state-disabled
                    :ui-btn
                    :ui-btn-icon-left
                    :ui-icon-grid"}}
                {{action "tagsClicked" target="view"}}>Tags</a>
        </td><td>
            {{#if isWindows}}
                <a id="single-machine-shell-btn"
                    target="_blank"
                    {{bind-attr href="rdpURL" class="canConnect::ui-state-disabled
                        :ui-btn
                        :ui-btn-icon-left
                        :ui-icon-gear"}}>Connect</a>
            {{else}}
                <a id="single-machine-shell-btn"
                    {{bind-attr class="canConnect::ui-state-disabled
                        :ui-btn
                        :ui-btn-icon-left
                        :ui-icon-gear"}}
                    {{action "shellClicked" target="view"}}>Shell</a>
            {{/if}}
        </td><td>
            <a id="single-machine-power-btn"
                {{bind-attr class="id::ui-state-disabled
                    :ui-btn
                    :ui-btn-icon-left
                    :ui-icon-power"}}
                {{action "powerClicked" target="view"}}>Power</a>
        </td></tr></tbody></table>
    </div>

</div>
