<div id="machine-monitoring">

    {{#if view.machine.hasMonitoring}}

        {{#if view.pendingFirstStats}}
            <div id="machine-monitoring-disabled">

                <label id="enable-monitoring-label">
                    {{view.monitoringMessage}}
                </label>

                <div class="ajax-loader l"></div>
            </div>
        {{/if}}

        <div id="graphs-wrapper"
            class="{{if view.pendingFirstStats 'hidden'}}">
                {{view "graphList"
                    actionProxy=view}}
        </div>

        {{view "ruleList" rules=view.rules}}

        <div id="monitoring-bottom-btns">
            <div data-rule="ui-grid-a">
                <div class="ui-block-a">
                    <a id="add-rule-button"
                      class="{{if Mist.rulesController.creatingPending 'ui-state-disabled'}}
                             ui-btn ui-corner-all ui-btn-d ui-btn-icon-left ui-icon-plus"
                        {{action "addRuleClicked" target=view}}>
                            Add Rule
                    </a>
                </div>
            </div>
            <div class="ui-block-b">
                <a id="disable-monitor-btn"
                   class="{{if view.machine.disablingMonitoring 'ui-state-disabled'}}
                          ui-btn ui-corner-all ui-btn-b ui-btn-icon-left ui-icon-delete"
                    {{action "disableMonitoringClicked" target=view}}>
                        Disable
                </a>
            </div>
        </div>

    {{else}}

        <div id="machine-monitoring-disabled">

            {{#if view.machine.enablingMonitoring}}

                <label id="enable-monitoring-label">
                    Enabling monitoring, please wait...
                </label>

                <div class="ajax-loader l"></div>

            {{else}} {{#if view.machine.disablingMonitoring}}

                <label id="enable-monitoring-label">
                    Disabling monitoring...
                </label>

                <div class="ajax-loader l"></div>

            {{else}}

                <label id="enable-monitoring-label">
                    View real time server analytics, get alerts
                    and set up automated actions.
                </label>

                <a id="enable-monitoring-btn"
                    class="{{if view.machine.enablingMonitoring 'ui-state-disabled'}}
                        {{if view.gettingCommand 'ui-state-disabled'}}
                        ui-btn ui-corner-all ui-btn-d ui-btn-icon-right icon-graph-1 ui-caps"
                    {{action "enableMonitoringClicked" target=view}}>
                        Enable Monitoring
                </a>

               {{#if view.gettingCommand}}
                    <div class="ajax-loader"></div>
               {{/if}}

           {{/if}} {{/if}}
       </div>
    {{/if}}
</div>

{{view "ruleEdit" metrics=this.metrics}}
