<div id="machine-power-popup"
     class="tiny-popup"
     data-role="popup"
     data-overlay-theme="c"
     data-transition="slideup"
     data-position-to={{view.position}}>

    <div data-role="header" data-theme="b">
        <h1>Actions</h1>
    </div>

    <div data-role="content" data-theme="a">
        {{#if Mist.machinePowerController.canRename}}
        <a id="rename-machine-option" class="ui-btn ui-btn-d ui-caps"
            {{action "actionClicked" "rename" target=view}}>Rename</a>
        {{/if}}
        {{#if Mist.machinePowerController.canStart}}
        <a id="start-machine-option" class="ui-btn ui-btn-d ui-caps"
            {{action "actionClicked" "start" target=view}}>Start</a>
        {{/if}}
        {{#if Mist.machinePowerController.canShutdown}}
        <a id="shutdown-machine-option" class="ui-btn ui-btn-d ui-caps"
            {{action "actionClicked" "shutdown" target=view}}>Shutdown</a>
        {{/if}}
        {{#if Mist.machinePowerController.canReboot}}
        <a id="reboot-machine-option" class="ui-btn ui-btn-d ui-caps"
            {{action "actionClicked" "reboot" target=view}}>Reboot</a>
        {{/if}}
        {{#if Mist.machinePowerController.canDestroy}}
        <a id="destroy-machine-option" class="ui-btn ui-btn-d ui-caps"
            {{action "actionClicked" "destroy" target=view}}>Destroy</a>
        {{/if}}
        <a class="ui-btn ui-corner-all ui-caps back" {{action "backClicked" target=view}}>Back</a>
    </div>
</div>


{{component "machine-edit"}}
