<div id="machine-power-popup"
     class="tiny-popup"
     data-role="popup"
     data-overlay-theme="c"
     data-transition="slideup"
     {{bind-attr data-position-to="view.position"}}>

    <div data-role="header" data-theme="b">
        <h1>Actions</h1>
    </div>

    <div data-role="content" data-theme="a">
        {{#if Mist.machinePowerController.canRename}}
        <a id="rename-machine-option" class="ui-btn ui-btn-d ui-shadow ui-corner-all"
            {{action "actionClicked" "rename" target="view"}}>Rename</a>
        {{/if}}
        {{#if Mist.machinePowerController.canStart}}
        <a class="ui-btn ui-btn-d ui-shadow ui-corner-all"
            {{action "actionClicked" "start" target="view"}}>Start</a>
        {{/if}}
        {{#if Mist.machinePowerController.canShutdown}}
        <a class="ui-btn ui-btn-d ui-shadow ui-corner-all"
            {{action "actionClicked" "shutdown" target="view"}}>Shutdown</a>
        {{/if}}
        {{#if Mist.machinePowerController.canReboot}}
        <a class="ui-btn ui-btn-d ui-shadow ui-corner-all"
            {{action "actionClicked" "reboot" target="view"}}>Reboot</a>
        {{/if}}
        {{#if Mist.machinePowerController.canDestroy}}
        <a class="ui-btn ui-btn-d ui-shadow ui-corner-all"
            {{action "actionClicked" "destroy" target="view"}}>Destroy</a>
        {{/if}}
        <a class="ui-btn ui-shadow ui-corner-all" {{action "backClicked" target="view"}}>Back</a>
    </div>
</div>


{{view "machineEdit"}}
