{{#unless view.machine.isGhost}}
    <label>{{view Mist.Checkbox checked=machine.selected}}</label>
    {{#link-to "machine" machine}}

        <div class="ui-grid-b">
            <div class="ui-block-a machine-name">{{machine.name}}</div>

            <span class="ui-block-b machine-state">
                {{#unless machine.isUnknown}}
                <span class={{view.machine.state}}>
                {{machine.state}}

                {{#if machine.pendingCreation}}
                    <div class='ajax-loader'></div>
                {{else}} {{#if machine.waitState}}
                    <div class='ajax-loader'></div>
                {{/if}} {{/if}}
                </span>
                {{/unless}}
            </span>

            <div class="ui-block-c machine-leds">

                {{#unless machine.pendingCreation}}
                    <span class="icon-dummy monitoring-state"></span>

                    <div class="{{machine.probing}} {{machine.probed}}">
                        <div class="loadleds">
                            <div class="{{machine.loadavg15}} led">
                            </div>
                            <div class="{{machine.loadavg5}} led">
                            </div>
                            <div class="{{machine.loadavg1}} led">
                            </div>
                        </div>

                        <div class="netleds">
                            <div class="{{machine.netled4}} netled1">
                            </div>
                            <div class="{{machine.netled3}} netled2">
                            </div>
                            <div class="{{machine.netled2}} netled3">
                            </div>
                            <div class="{{machine.netled1}} netled4">
                            </div>
                        </div>
                    </div>
                {{/unless}}

            </div>

            <div class="ui-block-c machine-tags">
                <span class="tag">{{machine.cloud.title}}</span>
                {{#each machine.tags as |tag|}}
					<span class="tag pairs">{{tag.key}}{{#if tag.value}}={{tag.value}}{{/if}}</span>
                {{/each}}
            </div>

        </div>
    {{/link-to}}
{{else}}

    <a class="ui-icon-delete" {{action "disassociateGhostMachine" target=view}}>

        <div class="ui-grid-b">
            <div class="ui-block-a machine-name">{{machine.name}}</div>

            <span class="ui-block-b machine-state">
                <span>{{machine.state}}</span>
            </span>

        </div>

    </a>

{{/unless}}
