<div id="machine-tags-popup"
     class="large-popup"
     data-role="popup"
     data-overlay-theme="b"
     data-transition="flip">

    <div data-role="header" data-theme="b">
        <h1>Manage Tags</h1>
    </div>

    <div data-role="content" data-theme="a">

        {{view Mist.TextField valueBinding="Mist.machineTagsController.newTag"}}

        <a id="add-tag-ok" class="ui-btn ui-btn-d ui-shadow ui-corner-all"
            {{action "addClicked" target="view"}}>Add</a>

        <ul data-role="listview">
            {{#each Mist.machineTagsController.machine.tags}}
                {{view "machineTagsListItem" tagBinding="this"}}
            {{/each}}
        </ul>

        {{#if Mist.machineTagsController.addingTag}}
            <div class="ajax-loader"></div>
        {{else}} {{#if Mist.machineTagsController.deletingTag}}
            <div class="ajax-loader"></div>
        {{/if}} {{/if}}

        <a id="add-tag-back" class="ui-btn ui-shadow ui-corner-all"
            {{action "backClicked" target="view"}}>Back</a>

    </div>

</div>
