<div id="member-add" class="large-popup" data-role="popup" data-position="right" data-display="overlay" data-overlay-theme="b" data-transition="pop">

    <div id="add-member" class="large-popup
            ui-popup
            ui-body-a
            ui-overlay-shadow
            ui-corner-all" data-role="popup" data-enhanced="true">

        <div class="ui-header ui-caps">
            <h1 class="ui-title">Invite Member</h1>

            <a class="close" {{action "backClicked" target=view}} data-rel="back">&#10005;</a>
        </div>
        <div data-role="content" data-theme="a">
            <form {{action "addClicked" on="submit" target=view}}>
                <div class="form-field required {{if Mist.memberAddController.newMember.email 'filled' 'empty'}}">
                    <label for="member-name">Email</label>
                    {{input value=Mist.memberAddController.newMember.email id="member-email"}}
                </div>

                <button type="submit" class="ui-btn ui-btn-d ui-shadow ui-caps {{if view.isReady '' 'ui-state-disabled'}}">Send</button>
            </form>
        </div>
    </div>
</div>
