<!-- Popup Overlay -->

<div id="message-box-screen"
    class="ui-popup-screen ui-overlay-b ui-screen-hidden">
</div>

<!-- Popup Wrapper -->

<div id="message-box-popup"
    class="flip
        ui-popup-container
        ui-popup-hidden
        ui-popup-truncate">

    <!-- Popup -->

    <div id="message-box"
        class="large-popup
            ui-popup
            ui-body-inherit
            ui-overlay-shadow
            ui-corner-all"
        data-role="popup"
        data-transition="flip"
        data-dismissible="false">


        <!-- Header -->

        <div class="ui-header ui-bar-b" role="banner">
            <h1 class="ui-title">
                {{Mist.notificationController.messageBox.options.title}}
            </h1>
        </div>

        <!-- Body -->

        <div class="ui-content ui-body-a" role="main">


            <!--
                Paragraphs
            -->


            {{#each Mist.notificationController.messageBox.options.paragraphs as |p|}}
                <p>{{p}}</p>
            {{/each}}


            <!--
                Command
            -->

            {{#if Mist.notificationController.messageBox.options.command}}
                <p id="message-cmd">
                    {{Mist.notificationController.messageBox.options.command}}
                </p>
            {{/if}}


            <!--
                Postscript
            -->

            {{#if Mist.notificationController.messageBox.options.ps}}
                <p id="message-ps">
                    {{Mist.notificationController.messageBox.options.ps}}
                </p>
            {{/if}}


            <!--
                OK Button
            -->


            <a class="ui-btn ui-btn-a ui-corner-all"
                {{action "okClicked" target=view}}>OK</a>
        </div>
    </div>
</div>
