{{#if view.node.isEndNode}}

    <a class="end-node
        ui-btn
        ui-corner-all"
        {{action "selectMetric" target=view}}>{{view.node.text}}</a>

{{else}}

    {{#unless view.node.isRootNode}}
        <a class="parent-node
            ui-btn
            ui-btn-icon-left
            icon-down"
            {{action "toggleUnfold" target=view}}>{{view.node.text}}</a>
    {{/unless}}

    <div class="nest">
        {{#each view.node.subTargets as |node|}}
            {{component "metric-node" node=node}}
        {{/each}}
    </div>

{{/if}}
