
<div id="metric-add-custom-screen" class="ui-popup-screen ui-screen-hidden ui-overlay-a"></div>
<div id="metric-add-custom-popup"
     class="ui-popup-container ui-popup-hidden ui-body-inherit">

    <div id="metric-add-custom"
         class="ui-popup ui-overlay-shadow"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip"
         data-position-to="#add-metric-btn">

        <div class="ui-header ui-bar-b" role="banner">

            <h1 class="ui-title">Add custom metric</h1>

            <a href="javascript:void(0)" class="close" {{action "backClicked" target=view}}>&#10005;</a>

        </div>

        <div class="ui-content">

            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <label for="custom-plugin-name">Name</label>
                    {{view Mist.TextField
                        id="custom-plugin-name"
                        placeholder="e.g. my metric"
                        value=Mist.metricAddCustomController.metric.name}}
                </div>
                <div class="ui-block-b">
                    <label for="custom-plugin-unit">Unit</label>
                    {{view Mist.TextField
                        id="custom-plugin-unit"
                        placeholder="e.g. bytes (optional)"
                        value=Mist.metricAddCustomController.metric.unit}}
                </div>
            </div>
            <label for="custom-plugin-script">Python script</label>
            <pre id="custom-plugin-error"></pre>
            {{view Ember.TextArea
                   id="custom-plugin-script"
                   value=Mist.metricAddCustomController.metric.script}}

            <select id="advanced-toggle" data-role="slider" data-theme="a"
            {{action "advancedToggled" target=view on="change"}}>
                <option value="0">Basic settings</option>
                <option value="1">Advanced settings</option>
            </select>

            <div id="custom-plugin-advanced">
                <label>
                {{view Mist.Checkbox
                       data-mini="true"
                       checked=Mist.metricAddCustomController.metric.type}}
                Calculate derivative
                </label>
            </div>

            {{#if Mist.metricAddCustomController.addingMetric}}
                <div class="ajax-loader"></div>
            {{/if}}

            <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
                <a class="ui-btn ui-btn-d ui-state-disabled ui-caps"
                    id="deploy" {{action "deployClicked" target=view}}>Deploy</a>
            </div>
        </div>
    </div>
</div>
