<div id="metric-add-screen" class="ui-popup-screen ui-screen-hidden ui-overlay-a"></div>
<div id="metric-add-popup"
     class="ui-popup-container mid-popup ui-popup-hidden ui-body-inherit">

    <div id="metric-add"
         class="ui-popup ui-corner-all ui-overlay-shadow"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip"
         data-position-to="#add-metric-btn">

        <div class="ui-header ui-bar-b" role="banner">

            <h1 class="ui-title">Select Metric</h1>

            <a href="javascript:void(0)" class="close" data-rel="back">&#10005;</a>

        </div>

        <div class="{{if Mist.metricAddController.metrics.length '' 'no-metrics'}} ui-content ui-body-a"
             role="main">

            <a class="ui-btn ui-btn-d ui-caps"
                {{action "customClicked" target=view}}>custom</a>

            {{#if Mist.metricAddController.metrics.length}}
                {{component "metric-node"
                    node=Mist.metricAddController.metricsTree}}
            {{else}}
                <div class="ui-body-a">
                    <p>Checking available metrics on your server</p>
                    <div id="machine-add-metric-loader" class="ajax-loader"></div>
                </div>
            {{/if}}

            {{#if Mist.metricsController.addingMetric}}
                <div id="overlay"></div>
            {{/if}}

        </div>
    </div>
</div>

{{component "metric-add-custom"}}
