<div id="create-network" class="ui-link ui-btn ui-btn-add ui-btn-d ui-shadow floating-collapsible"
     data-role="collapsible"
     data-collapsed="true">

    <h4><span class="title">Add Network</span></h4>

    <div id="network-create" data-role="content" >

        <!--
            Select Network Name
        -->
        <div id="network-create-name-wrapper">

            <label for="network-create-name">Name</label>

            {{view Mist.TextField
                data-theme="a"
                id="network-create-name"
                value=Mist.networkCreateController.network.name}}
        </div>

        <!--
            Select Backend

            Allow only openstack backends for now
        -->
        <div id="network-create-backend-wrapper">

            <label for="network-create-backend">Cloud</label>

            <div id="network-create-backend"
                data-role="collapsible"
                data-iconpos="right"
                data-collapsed-icon="carat-d"
                data-expanded-icon="carat-u"
                data-theme="a"
                class="mist-select">

                <h4>
                    {{#with Mist.networkCreateController.network as |network|}}
                        {{#if network.backend}}
                            {{network.backend.title}}
                        {{else}}
                            Select cloud
                        {{/if}}
                    {{/with}}
                </h4>

                <ul data-role="listview" data-theme="a">

                    {{#each Mist.backendsController.model as |backend|}}
                        {{#if backend.enabled}}
                            {{#if backend.isOpenStack}}
                                <li data-icon="false">
                                    <a {{action "backendSelected" backend target=view}}>
                                        {{backend.title}}
                                    </a>
                                </li>
                            {{/if}}
                        {{/if}}
                    {{/each}}

                </ul> <!-- list -->
            </div> <!-- collapsible -->
        </div><!-- wrapper -->


        <!--
            Select Admin State
        -->


        <div id="network-create-admin-state-wrapper">
            <label>Admin State</label>
            <div id="network-create-admin-state"
                data-role="collapsible"
                data-iconpos="right"
                data-collapsed-icon="carat-d"
                data-expanded-icon="carat-u"
                data-theme="a"
                class="mist-select">

                <h4>
                    {{Mist.networkCreateController.adminStateUpToText}}
                </h4>

                <ul data-role="listview" data-theme="a">
                    <li data-icon="false">
                        <a {{action "adminStateSelected" true target=view}}>
                            UP
                        </a>
                    </li>
                    <li data-icon="false">
                        <a {{action "adminStateSelected" false target=view}}>
                            DOWN
                        </a>
                    </li>
                </ul> <!-- list -->
            </div><!-- collapsible -->
        </div><!-- wrapper -->


        <!--
            Create Subnet
        -->


        <div id="network-create-subnet-wrapper">

            {{view Mist.Checkbox
                data-theme="a"
                id="network-create-subnet-create"
                checked=Mist.networkCreateController.network.createSubnet}}
            <label for="network-create-subnet-create">
                Create Subnet
            </label>


            <div id="network-create-subnet-form">


                <!--
                    Select Subnet Name
                -->
                <div id="network-create-subnet-name-wrapper">
                    <label for="network-create-subnet-name">Subnet Name</label>
                    {{view Mist.TextField
                        data-theme="a"
                        id="network-create-subnet-name"
                        value=Mist.networkCreateController.network.subnet.name}}
                </div>


                <!--
                    Select Network Address
                -->
                <div id="network-create-subnet-address-wrapper">
                    <label for="network-create-subnet-address">Network Address (CIDR)</label>
                    {{view Mist.TextField
                        data-theme="a"
                        id="network-create-subnet-address"
                        value=Mist.networkCreateController.network.subnet.address}}
                </div>


                <div id="network-create-subnet-other-wrapper">
                    <!--
                        Select IP Version
                    -->
                    <div id="network-create-subnet-ipv-wrapper">
                        <label>IP Version</label>
                        <div id="network-create-subnet-ipv"
                            data-role="collapsible"
                            data-iconpos="right"
                            data-collapsed-icon="carat-d"
                            data-expanded-icon="carat-u"
                            data-theme="a"
                            class="mist-select">

                            <h4>
                                {{Mist.networkCreateController.network.subnet.ipv}}
                            </h4>

                            <ul data-role="listview" data-theme="a">
                                <li data-icon="false">
                                    <a {{action "ipvSelected" "IPv4" target=view}}>
                                        IPv4
                                    </a>
                                </li>
                                <li data-icon="false">
                                    <a {{action "ipvSelected" "IPv6" target=view}}>
                                        IPv6
                                    </a>
                                </li>
                            </ul> <!-- list -->
                        </div><!-- collapsible -->
                    </div><!-- wrapper -->


                    <!--
                        Enable Gateway
                    -->
                    <div>
                        <div id="network-create-subnet-gateway-ip-wrapper">
                            <label for="network-create-subnet-gateway-ip">Gateway IP</label>
                            {{view Mist.TextField
                                data-theme="a"
                                id="network-create-subnet-gateway-ip"
                                value=Mist.networkCreateController.network.subnet.gatewayIP}}
                        </div>
                        {{view Mist.Checkbox
                            data-theme="a"
                            id="network-create-subnet-gateway"
                            checked=Mist.networkCreateController.network.subnet.disableGateway}}
                        <label for="network-create-subnet-gateway">
                            Disable Gateway
                        </label>
                    </div>


                    <!--
                        Enable DHCP
                    -->
                    {{view Mist.Checkbox
                        data-theme="a"
                        id="network-create-subnet-dhcp"
                        checked=Mist.networkCreateController.network.subnet.enableDHCP}}
                    <label for="network-create-subnet-dhcp">
                        Enable DHCP
                    </label>


                    <!--
                        Allocation Pools
                    -->
                    <label for="network-create-subnet-allocation-pools">
                        Allocation Pools
                    </label>
                    {{view Mist.TextArea
                        id="network-create-subnet-allocation-pools"
                        data-theme="a"
                        value=Mist.networkCreateController.network.subnet.allocationPools}}
                </div>
            </div>
        </div>

        {{#if Mist.networkCreateController.creatingNetwork}}
            <div class="ajax-loader"></div>
        {{/if}}

        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
            <a class="ui-btn ui-btn-d ui-shadow ui-first-child ui-last-child ui-caps {{if Mist.networkCreateController.creatingNetwork 'ui-state-disabled'}}" id="network-create-ok"
                {{action "createClicked" target=view}}>Create</a>
        </div>
    </div>
</div>

<div id="create-network-overlay" class="ui-popup-screen ui-overlay-b ui-screen-hidden"
     {{action "clickOverlay" target=view}}></div>
