<div id="network-list-page" data-role="page" class="ui-page-active">
    <div data-role="header" data-theme="a">
        <!-- Page header -->
        <div class="ui-header ui-bar-a">
            <div class="header-grid">
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        {{#link-to 'index' class="responsive-button ui-btn icon-prev ui-alt-icon ui-caps
                        ui-btn-icon-left ui-corner-all nav-back"}}<span>Home</span>{{/link-to}}
                    </div>

                    <div class="ui-block-b">
                        <h1 class="ui-title">Networks</h1>
                    </div>

                    <div class="ui-block-c">
                        <div class="user-menu">
                            {{component "user-menu"}}
                        </div>
                    </div>
                </div>
                <!-- /grid-b -->
            </div>
        </div>
    </div>

    <div role="main" class="ui-content" data-theme="c">
        <div id="network-list-container" class="ui-shadow">
            <div class="ui-grid-b networks-header">
                <div class="ui-block-a">
                    {{#if Mist.cloudsController.hasNetworks}}
                        <a id="select-networks-btn" class="responsive-button ui-btn ui-btn-add ui-btn-d icon-down
                                ui-btn-icon-right" {{action "selectClicked" target=view}}></a>
                    {{/if}}
                </div>
                <div class="ui-block-b"></div>
                <div class="ui-block-c">
                    {{component "network-create"}}
                </div>
            </div><!-- /grid-b -->

            <div class="network-search-container">
                {{#if view.searchTerm}}
                    <span {{action "clearClicked" target=view}} class="icon-xx"></span>
                {{else}}
                    <span class="icon-search"></span>
                {{/if}}
                {{input value=view.searchTerm placeholder="Filter networks" class="network-search"}}
            </div>

            <ul id="network-list"
                data-role="listview"
                data-inset="true"
                data-theme="c"
                class="checkbox-list">
                {{#each view.sortedNetworks as |network|}}
                    {{component "network-list-item"
                        network=network
                        class="checkbox-link"}}
                {{/each}}
            </ul>
        </div>

        <div class="mid-padding"></div>
    </div>

    {{component "dialog-popup"}}

    <div id="select-networks-popup" class="ui-mini" data-role="popup" data-overlay-theme="b" data-transition="flip" data-position-to="#select-networks-btn">
		<div class="ui-header ui-caps">Sort by</div>
		<ul data-role="listview">
			<li>
				<a class="ui-btn ui-btn-icon-left {{if view.sortByName 'icon-check'}}" {{action "sortBy" "name" target=view}}>Name</a>
			</li>
			<li>
				<a class="ui-btn ui-btn-icon-left {{if view.sortByProvider 'icon-check'}}" {{action "sortBy" "provider" target=view}}>Provider</a>
			</li>
		</ul>

        <div class="ui-header ui-caps">Select</div>
        <ul data-role="listview">
            <li data-icon="false">
                <a {{action "selectionModeClicked" true target=view}}>All</a>
            </li>
            <li data-icon="false">
                <a {{action "selectionModeClicked" false target=view}}>None</a>
            </li>
        </ul>
    </div>

    <div class="single-action-footer" data-role="footer" data-theme="b">
        <a class="ui-btn ui-caps ui-corner-all ui-btn-icon-right icon-xx"
            {{action "deleteClicked" target=view}}>
                Delete
        </a>
    </div>
</div>
