<label>
    {{#if network.cloud.isOpenStack}}
        {{view Mist.Checkbox checked=network.selected}}
    {{else}}
        {{view Mist.Checkbox checked=network.selected data-disabled="true"}}
    {{/if}}
</label>
{{#link-to "network" network}}

    <div class="ui-grid-b">
        <div class="ui-block-a network-name">{{network.name}}</div>
        <div class="ui-block-b">{{#if network.isPublic}}Public{{/if}} {{#if network.isPrivate}}Private{{/if}}</div>
        <div class="ui-block-c key-tags">
            <span class="tag">{{network.cloud.title}}</span>
        </div>
    </div>

{{/link-to}}
