<td>
{{view.orderIndex}}
<a class="ui-btn policy-rule-arrow icon-up ui-btn-inline ui-caps {{if view.isFirst 'ui-state-disabled'}}" {{action "moveUpRule" target=view}}></a>
<a class="ui-btn policy-rule-arrow icon-down ui-btn-inline ui-caps {{if view.isLast 'ui-state-disabled'}}" {{action "moveDownRule" target=view}}></a>
<a class="ui-btn policy-rule-button policy-rule-operator ui-btn-a ui-btn-inline ui-caps ui-shadow" {{action "openRuleOperatorPopup" target=view}}>{{rule.operator}}</a>
<a class="ui-btn policy-rule-button policy-rule-resource ui-btn-a ui-btn-inline ui-caps ui-shadow" {{action "openRuleResourcePopup" target=view}}>{{rule.rtype}}</a>
<a class="ui-btn policy-rule-button policy-rule-action ui-btn-a ui-btn-inline ui-caps ui-shadow" {{action "openRuleActionPopup" target=view}}>{{rule.action}}</a>
<a class="ui-btn policy-rule-button policy-rule-identification ui-btn-a ui-btn-inline ui-caps ui-shadow" {{action "openRuleResourceIdentificationPopup" target=view}}>{{rule.identification}}</a>&nbsp;
{{#if view.hasInput}}
    {{#if view.isID}}
        {{input value=rule.rid placeholder="resource id"}}
    {{else}}
        {{input value=rule.tagsText placeholder="resource tags"}}
    {{/if}}
{{/if}}

{{#if Mist.teamsController.updatingRules}}
    <div class="ajax-loader"></div>
{{else}}
    <a {{action "deleteRule" target=view}} class="ui-btn icon-xx ui-btn-icon-notext"></a>
{{/if}}
</td>
