<div id="{{unbound id}}" class="rule-box">

    <div id="basic-condition">
        <div class="rule-if rule-text">if</div>

        <a class="rule-button rule-metric ui-btn ui-btn-inline ui-shadow ui-corner-all"
            {{action "openMetricPopup" target=view}}>
                {{rule.metric.name}}
        </a>

        <a class="rule-button rule-operator ui-btn ui-btn-inline ui-shadow ui-corner-all"
            {{action "openOperatorPopup" target=view}}>
                {{rule.operator.symbol}}
        </a>

        {{view Mist.TextField class="rule-value" type="number"
            value=view.newRuleValue}}

        <div class="rule-unit rule-text">{{rule.metric.unit}}</div>
    </div>

    <a class="rule-button rule-more ui-btn ui-btn-inline ui-shadow ui-corner-all"
        {{action "openAdvancedCondition" target=view}}>
        ...
    </a>

    <div class="advanced-condition">

        <div class="rule-for rule-text">for</div>

        <a class="rule-button rule-aggregate ui-btn ui-btn-inline ui-shadow ui-corner-all"
            {{action "openAggregatePopup" target=view}}>
                {{rule.aggregate.title}}
        </a>

        <div class="rule-for rule-text">value</div>

        {{#unless view.aggregateIsAny}}

            <div class="rule-within rule-text">within</div>

            {{view Mist.TextField class="rule-time-window" type="number"
                value=view.newRuleTimeWindow}}

            <div class="rule-mins rule-text">min(s)</div>

        {{/unless}}

    </div>

    <div class="rule-then rule-text">then</div>

    <a class="rule-button rule-action ui-btn ui-btn-inline ui-shadow ui-corner-all"
        {{action "openActionPopup" target=view}}>
            {{rule.actionToTake}}
    </a>

    {{#if rule.pendingAction}}
        <div class="ajax-loader"></div>
    {{else}}
        <div class="delete-rule-container">
            <a class="delete-rule-button ui-btn icon-xx"
                    {{action "deleteRuleClicked" target=view}}>&nbsp;</a>
        </div>
    {{/if}}

</div>
