<div id="rule-metric-screen" class="ui-popup-screen ui-screen-hidden ui-overlay-b"></div>
<div id="rule-metric-popup"
     class="ui-popup-container ui-popup-hidden ui-body-inherit ui-overlay-shadow">

    <div id="rule-metric"
         class="ui-popup"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip">

        <ul data-role="listview">
            {{#each view.sortedMetrics as |metric|}}
            <li data-icon="false">
                <a class="ui-btn" {{action "metricClicked" metric.id target=view}}>
                    {{metric.name}}
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>


<div id="rule-operator-screen" class="ui-popup-screen ui-screen-hidden ui-overlay-b"></div>
<div id="rule-operator-popup"
     class="ui-popup-container ui-popup-hidden ui-body-inherit ui-overlay-shadow">

    <div id="rule-operator"
         class="ui-popup"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip">

        <ul data-role="listview">
            {{#each Mist.rulesController.operatorList as |operator|}}
                <li data-icon="false">
                    <a {{action "operatorClicked" operator.title target=view}}>
                        {{operator.symbol}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>


<div id="rule-action-screen" class="ui-popup-screen ui-screen-hidden ui-overlay-b"></div>
<div id="rule-action-popup"
     class="ui-popup-container ui-popup-hidden ui-body-inherit ui-overlay-shadow">

    <div id="rule-action"
         class="ui-popup"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip">

        <ul data-role="listview">
            {{#each Mist.rulesController.actionList as |actionitem|}}
                <li data-icon="false">
                    <a {{action "actionClicked" actionitem target=view}}>
                        {{actionitem}}
                    </a>
                </li>
            {{/each}}
            <li class="ui-state-disabled" data-icon="false">
                <a>launch</a>
            </li>
        </ul>
    </div>
</div>


<div id="rule-command-screen" class="ui-popup-screen ui-screen-hidden ui-overlay-b"></div>
<div id="rule-command-popup"
     class="ui-popup-container ui-popup-hidden ui-body-inherit ui-overlay-shadow ui-corner-all large-popup">

    <div id="rule-command"
         class="ui-popup"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip">

        <div class="ui-header ui-bar-b ui-caps">
            <h1 class="ui-title">Command</h1>

            <a href="javascript:void(0)" class="close" {{action "backClicked" target=view}}>&#10005;</a>
        </div>

        <div class="ui-content">

            {{view Ember.TextArea
                value=view.newCommand
                name="rule-command-content"}}

            <div data-role="controlgroup" class="btn-full ok-cancel" data-type="horizontal">
                <a id="add-command-ok" class="ui-btn ui-btn-d ui-caps" {{action "saveClicked" target=view}}>Save</a>
            </div>
        </div>
    </div>
</div>


<div id="rule-aggregate-screen" class="ui-popup-screen ui-screen-hidden ui-overlay-b"></div>
<div id="rule-aggregate-popup"
     class="ui-popup-container ui-popup-hidden ui-body-inherit ui-overlay-shadow">

    <div id="rule-aggregate"
         class="ui-popup"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip">

        <ul data-role="listview">
            {{#each Mist.rulesController.aggregateList as |rule|}}
                <li data-icon="false">
                    <a {{action "aggregateClicked" rule.value target=view}}>
                        {{rule.title}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
