<div id="rule-metric-screen" class="ui-popup-screen ui-screen-hidden ui-overlay-b"></div>
<div id="rule-metric-popup"
     class="ui-popup-container ui-popup-hidden ui-body-inherit ui-overlay-shadow">

    <div id="rule-metric"
         class="ui-popup"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip">

        <ul data-role="listview">
            {{#each view.sortedMetrics}}
            <li data-icon="false">
                <a class="ui-btn" {{action "metricClicked" this.id target="view"}}>
                    {{this.name}}
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>


<div id="rule-operator-screen" class="ui-popup-screen ui-screen-hidden ui-overlay-b"></div>
<div id="rule-operator-popup"
     class="ui-popup-container ui-popup-hidden ui-body-inherit ui-overlay-shadow">

    <div id="rule-operator"
         class="ui-popup"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip">

        <ul data-role="listview">
            {{#each Mist.rulesController.operatorList}}
                <li data-icon="false">
                    <a {{action "operatorClicked" this.title target="view"}}>
                        {{this.symbol}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>


<div id="rule-action-screen" class="ui-popup-screen ui-screen-hidden ui-overlay-b"></div>
<div id="rule-action-popup"
     class="ui-popup-container ui-popup-hidden ui-body-inherit ui-overlay-shadow">

    <div id="rule-action"
         class="ui-popup"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip">

        <ul data-role="listview">
            {{#each Mist.rulesController.actionList}}
                <li data-icon="false">
                    <a {{action "actionClicked" this target="view"}}>
                        {{this}}
                    </a>
                </li>
            {{/each}}
            <li class="ui-state-disabled" data-icon="false">
                <a>launch</a>
            </li>
        </ul>
    </div>
</div>


<div id="rule-command-screen" class="ui-popup-screen ui-screen-hidden ui-overlay-b"></div>
<div id="rule-command-popup"
     class="ui-popup-container ui-popup-hidden ui-body-inherit ui-overlay-shadow ui-corner-all large-popup">

    <div id="rule-command"
         class="ui-popup ui-corner-all"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip">

        <div class="ui-header ui-bar-b">
            <h1 class="ui-title">Command</h1>
        </div>

        <div data-role="content">

            {{view Ember.TextArea
                valueBinding="view.newCommand"
                name="rule-command-content"}}

            <div data-role="controlgroup" class="btn-full ok-cancel" data-type="horizontal">
                <a class="ui-btn ui-btn-a" {{action "backClicked" target="view"}}>Back</a>
                <a class="ui-btn ui-btn-d" {{action "saveClicked" target="view"}}>Save</a>
            </div>
        </div>
    </div>
</div>


<div id="rule-aggregate-screen" class="ui-popup-screen ui-screen-hidden ui-overlay-b"></div>
<div id="rule-aggregate-popup"
     class="ui-popup-container ui-popup-hidden ui-body-inherit ui-overlay-shadow">

    <div id="rule-aggregate"
         class="ui-popup"
         data-role="popup"
         data-enhanced="true"
         data-transition="flip">

        <ul data-role="listview">
            {{#each Mist.rulesController.aggregateList}}
                <li data-icon="false">
                    <a {{action "aggregateClicked" this.value target="view"}}>
                        {{this.title}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
