<!-- Add script button -->
<div id="add-script" class="ui-link ui-btn ui-btn-add ui-btn-d ui-shadow floating-collapsible"
     data-role="collapsible"
     data-collapsed="true">

   <h4><span class="title">Add script</span></h4>

    <div id="script-add" class="ui-content">

        <div class="form-field {{if Mist.scriptAddController.newScript.name 'filled' 'empty'}} required">
            <label for="script-name">Name</label>
            {{view Mist.TextField
                data-theme="a"
                id="script-name"
                value=Mist.scriptAddController.newScript.name}}
        </div>

        <!--
            Description
        -->
        <div id="script-add-description" class="form-field">
          <label>Description (optional)</label>
          {{view Mist.TextArea
              data-theme="a"
              value=Mist.scriptAddController.newScript.description}}
        </div>

        <!--
            Select script type
        -->
        <div id="script-add-type" class="form-field {{if Mist.scriptAddController.newScript.type.label 'filled' 'empty'}} required">
            <label>Type</label>
            <div class="mist-select"
                 data-role="collapsible"
                 data-collapsed-icon="carat-d"
                 data-expanded-icon="carat-u"
                 data-iconpos="right">
                    <h4>
                        {{#if Mist.scriptAddController.newScript.type}}
                            {{Mist.scriptAddController.newScript.type.label}}
                        {{else}}
                            Select type
                        {{/if}}
                    </h4>
                    <ul data-role="listview">
                        {{#each view.scriptTypes as |scriptType|}}
                            <li data-icon="false" data-theme="a">
                                <a {{action "selectType" scriptType target=view}}>{{scriptType.label}}</a>
                            </li>
                        {{/each}}
                    </ul>
            </div>
        </div>

        <!--
            Select script source
        -->

        <div id="script-add-source" class="form-field {{if Mist.scriptAddController.newScript.source.label 'filled' 'empty'}} required">
            <label>Source</label>
            <div  class="mist-select"
                data-role="collapsible"
                data-iconpos="right"
                data-collapsed-icon="carat-d"
                data-expanded-icon="carat-u">
                    <h4>
                        {{#if Mist.scriptAddController.newScript.source}}
                            {{Mist.scriptAddController.newScript.source.label}}
                        {{else}}
                            Select source
                        {{/if}}
                    </h4>
                    <ul data-role="listview">
                        {{#each view.scriptSources as |scriptSource|}}
                            <li data-icon="false" data-theme="a">
                                <a {{action "selectSource" scriptSource target=view}}>{{scriptSource.label}}</a>
                            </li>
                        {{/each}}
                    </ul>
            </div>
        </div>

        {{#if view.isGitHub}}
        <div class="github source">
            <div class="form-field">
                <label for="github-script-url">Github Repo</label>
                {{#view Mist.TextField
                    data-theme="a"
                    id="github-script-url"
                    value=Mist.scriptAddController.newScript.url}}
                {{/view}}
            </div>

            <div class="form-field">
                <label for="github-script-entry-point">Entry point (optional)</label>
                {{view Mist.TextField
                    data-theme="a"
                    id="github-script-entry-point"
                    value=Mist.scriptAddController.newScript.entryPoint}}
            </div>
        </div>
        {{/if}}

        {{#if view.isURL}}
        <div class="url source">
            <div class="form-field">
                <label for="url-script-url">Url</label>
                {{view Mist.TextField
                    data-theme="a"
                    id="url-script-url"
                    value=Mist.scriptAddController.newScript.url}}
            </div>

            <div class="form-field">
                <label for="url-script-entry-point">Entry point (optional)</label>
                {{view Mist.TextField
                    data-theme="a"
                    id="url-script-entry-point"
                    value=Mist.scriptAddController.newScript.entryPoint}}
            </div>
        </div>
        {{/if}}

        {{#if view.isInline}}
        <div class="inline source">
            <div class="form-field">
                <label for="url-script-script">Script</label>
                {{view Mist.TextArea
                    data-theme="a"
                    id="url-script-script"
                    value=Mist.scriptAddController.newScript.script}}
            </div>
        </div>
        {{/if}}

        {{#if Mist.scriptsController.addingScript}}
            <div class="ajax-loader"></div>
        {{/if}}

        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
            <a id="new-script-ok"
                class="{{if view.isReady '' 'ui-state-disabled'}} ui-btn ui-btn-d ui-shadow ui-caps ok-only"
                {{action "addClicked" target=view}}>Add</a>
        </div>
    </div>
</div>


<div id="add-script-overlay" class="ui-popup-screen ui-overlay-b ui-screen-hidden"
     {{action "clickOverlay" target=view}}></div>
