<div id="single-script-page" data-role="page" class="ui-page-active">

    <div data-role="header" data-theme="b">

        <a href="#/scripts" class="responsive-button ui-btn-left ui-btn ui-icon-arrow-l
            ui-btn-icon-left ui-shadow ui-corner-all">Scripts</a>

        <h1>{{name}}</h1>

        {{view "userMenu"}}

    </div>

    <div data-role="content" data-theme="a">

        {{#if Mist.scriptsController.loading}}
            <div class="ajax-loader"></div>
        {{/if}}

        <a id="run-script-btn"
           class="responsive-btn ui-btn ui-btn-d ui-btn-icon-right ui-icon-plus ui-corner-all ui-shadow"
           {{action "runClicked" target="view"}}>Run</a>

       <div data-role="collapsible" data-collapsed="false">

           <h4>Basic Info</h4>

           <table class="info-table">
           <tbody>
             {{#if description}}
                 <tr>
                     <td>Description</td>
                     <td>{{description}}</td>
                 </tr>
             {{/if}}
               <tr>
                   <td>Type</td>
                   <td>{{type}}</td>
               </tr>
               {{#if entrypoint}}
                   <tr>
                       <td>Entry Point</td>
                       <td>{{entrypoint}}</td>
                   </tr>
               {{/if}}
               {{#if view.isInline}}
               <tr>
                   <td>Script</td>
                   <td><div class="command-container">{{script}}</div></td>
               </tr>
               {{else}}
               <tr>
                   <td>Url</td>
                   <td>{{script}}</td>
               </tr>
               {{/if}}
           </tbody>
           </table>
       </div>

       <div data-role="collapsible" data-collapsed="false">

           <h4>Logs</h4>

           {{view "scriptLogList"}}

       </div>

        <div class="large-padding"></div>

    </div>

    {{view "dialog"}}

    {{view "scriptRun"}}

    {{view "scriptEdit"}}

    <div class="dual-action-footer" data-role="footer" data-theme="b">
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a class="ui-btn ui-btn-icon-left ui-icon-edit"
                    {{action "renameClicked" target="view"}}>Rename</a>
            </div>
            <div class="ui-block-b">
                <a class="ui-btn ui-btn-icon-left ui-icon-delete"
                    {{action "deleteClicked" target="view"}}>Delete</a>
            </div>
    </div>

</div>
