<div id="script-list-page" data-role="page" class="ui-page-active">

    <div data-role="header" data-theme="b">

        <a href="#" class="responsive-button ui-btn-left ui-btn ui-icon-home
            ui-btn-icon-left ui-shadow ui-corner-all">Home</a>

        <h1>Scripts</h1>

        {{view "userMenu"}}

    </div>

    <div data-role="content" data-theme="a">

        <div class="list-wrapper">

            <a id="select-scripts-btn"
               class="responsive-btn ui-btn ui-btn-icon-left ui-icon-arrow-d ui-corner-all ui-shadow"
               {{action "selectClicked" target="view"}}>Select</a>

            <a id="run-script-btn"
               class="responsive-btn ui-btn ui-btn-d ui-btn-icon-right ui-icon-plus ui-corner-all ui-shadow"
               {{action "addClicked" target="view"}}>Add</a>

            <ul data-role="listview"
                data-filter="true"
                data-inset="true"
                data-filter-placeholder="Filter Scripts..."
                class="checkbox-list">
                {{#each Mist.scriptsController}}
                    {{view "scriptListItem" model="this" scriptBinding="this" class="checkbox-link"}}
                {{/each}}
            </ul>
        </div>
        <div class="mid-padding"></div>
    </div>

    {{view "dialog"}}

    {{view "scriptAdd"}}

    {{view "scriptEdit"}}

    <div id="select-scripts-popup" data-role="popup" data-transition="flip" data-position-to="#select-scripts-btn">
        <ul data-role='listview'>
            <li data-icon="false">
                <a {{action "selectionModeClicked" true target="view"}}>All</a>
            </li>
            <li data-icon="false">
                <a {{action "selectionModeClicked" false target="view"}}>None</a>
            </li>
        </ul>
    </div>

    <div class="dual-action-footer" data-role="footer" data-theme="b">
        <div class="ui-grid-a">
            <div {{bind-attr class="view.canRename::ui-state-disabled :ui-block-a"}}>
                <a class="ui-btn ui-btn-icon-left ui-icon-edit"
                    {{action "renameClicked" target="view"}}>Rename</a>
            </div>
            <div {{bind-attr class="view.canDelete::ui-state-disabled :ui-block-b"}}>
                <a class="ui-btn ui-btn-icon-left ui-icon-delete"
                    {{action "deleteClicked" target="view"}}>Delete</a>
            </div>
    </div>
</div>
