<div id="single-script-page" data-role="page" class="ui-page-active">

    <div data-role="header" data-theme="a">
        <!-- Page header -->
        <div class="ui-header ui-bar-a">
            <div class="header-grid">
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        {{#link-to 'scripts' class="responsive-button ui-btn icon-prev ui-alt-icon ui-caps
                        ui-btn-icon-left ui-corner-all nav-back"}}<span>Scripts</span>{{/link-to}}
                    </div>

                    <div class="ui-block-b">
                        <h1 class="ui-title">{{model.name}}</h1>
                    </div>

                    <div class="ui-block-c">
                        <div class="user-menu">
                            {{component "user-menu"}}
                        </div>
                    </div>
                </div><!-- /grid-b -->
            </div>
        </div>
    </div>

    <div role="main" class="ui-content" data-theme="c">

        {{#if Mist.scriptsController.loading}}
            <div class="ajax-loader"></div>
        {{/if}}

        <div class="creation-button-container">
            <a id="run-script-btn"
               class="responsive-button creation-button ui-shadow ui-btn ui-btn-d ui-caps ui-btn-icon-right ui-icon-plus"
               {{action "runClicked" target=view}}>Run Script</a>
        </div>

       <div class="ui-shadow" data-role="collapsible" data-collapsed="false">

           <h4>Basic Info</h4>

           <table class="info-table">
           <tbody>
             {{#if model.description}}
                 <tr>
                     <td>Description</td>
                     <td>{{model.description}}</td>
                 </tr>
             {{/if}}
               <tr>
                   <td>Type</td>
                   <td>{{model.type}}</td>
               </tr>
               {{#if model.entrypoint}}
                   <tr>
                       <td>Entry Point</td>
                       <td>{{model.entrypoint}}</td>
                   </tr>
               {{/if}}
               {{#if view.isInline}}
               <tr>
                   <td>Script</td>
                   <td><div class="command-container">{{model.script}}</div></td>
               </tr>
               {{else}}
               <tr>
                   <td>Url</td>
                   <td>{{model.script}}</td>
               </tr>
               {{/if}}
           </tbody>
           </table>
       </div>

       {{#if Mist.logsController.model.length}}
           <div class="ui-shadow" data-role="collapsible" data-collapsed="false">
               <h4>Logs</h4>

               {{component "script-log-list"}}
           </div>
       {{/if}}

        <div class="large-padding"></div>

    </div>

    {{component "dialog-popup"}}

    {{component "script-run"}}

    {{component "script-edit"}}

    <div class="dual-action-footer" data-role="footer" data-theme="b">
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a class="ui-btn ui-btn-icon-right ui-caps icon-edit"
                    {{action "editClicked" target=view}}>Edit</a>
            </div>
            <div class="ui-block-b">
                <a class="ui-btn ui-btn-icon-right ui-caps icon-xx"
                    {{action "deleteClicked" target=view}}>Delete</a>
            </div>
        </div>
    </div>
</div>
