<div id="script-add"
    data-swipe-close="false"
    class="side-panel"
    data-role="panel"
    data-position="right"
    data-display="overlay"
    data-theme="c">

    <div data-role="header">
        <h1>Add script</h1>
    </div>

    <div data-role="content" data-theme="a">

        <div class="form-field">
            <label for="script-name">Name:</label>
            {{view Mist.TextField
                data-theme="a"
                id="script-name"
                valueBinding=Mist.scriptAddController.newScript.name}}
        </div>

        <!--
            Select script type
        -->

        <div id="script-add-type" class="form-field">
            <label >Type:</label>
            <div class="mist-select"
                data-role="collapsible"
                data-iconpos="right"
                data-collapsed-icon="carat-d"
                data-expanded-icon="carat-u"
                data-theme="a">
                    <h4>
                        {{#with Mist.scriptAddController.newScript.type as type}}
                                {{#if type}}
                                    {{type.label}}
                                {{else}}
                                    Select
                                {{/if}}
                        {{/with}}
                    </h4>
                    <ul data-role="listview">
                        {{#each view.scriptTypes}}
                            <li data-icon="false" data-theme="a">
                                <a {{action "selectType" this target="view"}}>{{this.label}}</a>
                            </li>
                        {{/each}}
                    </ul>
            </div>
        </div>

        <!--
            Select script source
        -->

        <div id="script-add-source" class="form-field">
            <label>Source:</label>
            <div  class="mist-select"
                data-role="collapsible"
                data-iconpos="right"
                data-collapsed-icon="carat-d"
                data-expanded-icon="carat-u"
                data-theme="a">
                    <h4>
                        {{#with Mist.scriptAddController.newScript.source as source}}
                                {{#if source}}
                                    {{source.label}}
                                {{else}}
                                    Select
                                {{/if}}
                        {{/with}}
                    </h4>
                    <ul data-role="listview">
                        {{#each view.scriptSources}}
                            <li data-icon="false" data-theme="a">
                                <a {{action "selectSource" this target="view"}}>{{this.label}}</a>
                            </li>
                        {{/each}}
                    </ul>
            </div>
        </div>

        <div class="github source">
            <div class="form-field">
                <label for="github-script-url">Github Repo:</label>
                {{#view Mist.TextField
                    data-theme="a"
                    id="github-script-url"
                    valueBinding=Mist.scriptAddController.newScript.url}}
                {{/view}}
            </div>

            <div class="form-field">
                <label for="github-script-entry-point">Entry point (optional):</label>
                {{view Mist.TextField
                    data-theme="a"
                    id="github-script-entry-point"
                    valueBinding=Mist.scriptAddController.newScript.entryPoint}}
            </div>
        </div>

        <div class="url source">
            <div class="form-field">
                <label for="url-script-url">Url:</label>
                {{view Mist.TextField
                    data-theme="a"
                    id="url-script-url"
                    valueBinding=Mist.scriptAddController.newScript.url}}
            </div>

            <div class="form-field">
                <label for="url-script-entry-point">Entry point (optional):</label>
                {{view Mist.TextField
                    data-theme="a"
                    id="url-script-entry-point"
                    valueBinding=Mist.scriptAddController.newScript.entryPoint}}
            </div>
        </div>

        <div class="inline source">
            <div class="form-field">
                <label for="url-script-script">Script:</label>
                {{view Mist.TextArea
                    data-theme="a"
                    id="url-script-script"
                    valueBinding=Mist.scriptAddController.newScript.script}}
            </div>
        </div>

        <!--
            Description
        -->

        <div id="script-add-description" class="form-field">
          <label>Description (optional):</label>
          {{view Mist.TextArea
              data-theme="a"
              valueBinding=Mist.scriptAddController.newScript.description}}
        </div>

        {{#if Mist.scriptsController.addingScript}}
            <div class="ajax-loader"></div>
        {{/if}}

        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
            <a class="ui-btn ui-btn-a ui-shadow ui-corner-all" 
                {{action "backClicked" target="view"}}>Back</a>
            <a id="new-script-ok" data-theme="d"
                {{bind-attr class="view.isReady::ui-state-disabled :ui-btn :ui-btn-d"}}
                {{action "addClicked" target="view"}}>Add</a>
        </div>
    </div>
</div>
