<div id="script-run"
    class="large-popup"
    data-role="popup"
    data-position="right"
    data-display="overlay"
    data-overlay-theme="b"
    data-transition="slideup">

    <div id="run-script"
         class="large-popup
            ui-popup
            ui-body-a
            ui-overlay-shadow
            ui-corner-all"
         data-role="popup"
         data-enhanced="true">

        <div class="ui-header ui-bar-b ui-caps">
            <h1 class="ui-title">Run script</h1>

            <a href="javascript:void(0)" class="close" data-rel="back">&#10005;</a>
        </div>

        <div data-role="content" data-theme="a">

            <div class="form-field {{if Mist.scriptRunController.scriptToRun.machine.name 'filled' 'empty'}} required">
                <label>Machine</label>
                <div id="script-run-machine"
                    data-role="collapsible"
                    data-iconpos="right"
                    data-collapsed-icon="carat-d"
                    data-expanded-icon="carat-u"
                    data-theme="d"
                    class="mist-select">
                    <h4>
                        {{#with Mist.scriptRunController.scriptToRun as |script|}}
                            {{#if script.machine}}
                                {{script.machine.name}}
                            {{else}}
                                Select
                            {{/if}}
                        {{/with}}
                    </h4>
                    <ul data-role="listview" data-theme="a">
                        {{#each Mist.cloudsController.model as |cloud|}}
                        {{#if cloud.enabled}}
                            {{#each cloud.machines.model as |machine|}}
                            {{#if machine.hasKeys}}
                                <li data-icon="false">
                                    <a {{action "machineClicked" machine target=view}}>
                                        {{machine.name}}
                                    </a>
                                </li>
                            {{/if}}
                            {{/each}}
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="form-field">
                <label for="script-params">Parameters (optional)</label>
                {{view Mist.TextArea
                    data-theme="a"
                    id="script-params"
                    value=Mist.scriptRunController.scriptToRun.parameters}}
            </div>

            {{#if Mist.scriptsController.runningScript}}
                <div class="ajax-loader"></div>
            {{/if}}

            <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
                <a id="new-script-ok" data-theme="d"
                    class="{{if view.isReady '' 'ui-state-disabled'}} ui-btn ok-only ui-btn-d ui-caps"
                    {{action "runClicked" target=view}}>Run</a>
            </div>
        </div>
    </div>
</div>
