<div id="script-list-page" data-role="page" class="ui-page-active">

    <div data-role="header" data-theme="a">
        <!-- Page header -->
        <div class="ui-header ui-bar-a">
            <div class="header-grid">
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        <a href="#" class="responsive-button ui-btn icon-prev ui-alt-icon ui-caps
                        ui-btn-icon-left ui-corner-all">Home</a>
                    </div>

                    <div class="ui-block-b">
                        <h1 class="ui-title">Scripts</h1>
                    </div>

                    <div class="ui-block-c">
                        <div class="user-menu">
                            {{view "userMenu"}}
                        </div>
                    </div>
                </div><!-- /grid-b -->
            </div>
        </div>
    </div>

    <div data-role="content">
        <div class="ui-grid-b scripts-header ui-shadow">
            <div class="ui-block-a">
                <a id="select-scripts-btn"
                   class="responsive-button ui-btn ui-btn-d ui-btn-add ui-btn-icon-left ui-icon-arrow-d ui-corner-all ui-caps" {{action "selectClicked" target=view}}>Select</a>
            </div>
            <div class="ui-block-b"></div>
            <div class="ui-block-c">
                <a id="run-script-btn"
                   class="responsive-button ui-btn ui-btn-d ui-btn-add ui-btn-icon-left ui-icon-plus ui-corner-all ui-caps"
                   {{action "addClicked" target=view}}>Add</a>
           </div>
        </div><!-- /grid-b -->

        <ul data-role="listview"
            data-filter="true"
            data-inset="true"
            data-filter-placeholder="Filter Scripts..."
            class="checkbox-list">
            {{#each Mist.scriptsController.model as |script|}}
                {{view "scriptListItem" model=script script=script class="checkbox-link"}}
            {{/each}}
        </ul>
        <div class="mid-padding"></div>
    </div>

    {{view "dialog"}}

    {{view "scriptAdd"}}

    {{view "scriptEdit"}}

    <div id="select-scripts-popup" data-role="popup" data-transition="flip" data-position-to="#select-scripts-btn">
        <ul data-role='listview'>
            <li data-icon="false">
                <a {{action "selectionModeClicked" true target=view}}>All</a>
            </li>
            <li data-icon="false">
                <a {{action "selectionModeClicked" false target=view}}>None</a>
            </li>
        </ul>
    </div>

    <div class="dual-action-footer" data-role="footer" data-theme="b">
        <div class="ui-grid-a">
            <div class="{{if view.canRename '' 'ui-state-disabled'}} ui-block-a">
                <a class="ui-btn ui-btn-icon-left ui-icon-edit"
                    {{action "renameClicked" target=view}}>Rename</a>
            </div>
            <div class="{{if view.canDelete '' 'ui-state-disabled'}} :ui-block-b">
                <a class="ui-btn ui-btn-icon-left ui-icon-delete"
                    {{action "deleteClicked" target=view}}>Delete</a>
            </div>
        </div>
    </div>
</div>
