<div id="script-run"
    data-swipe-close="false"
    class="side-panel"
    data-role="panel"
    data-position="right"
    data-display="overlay"
    data-theme="c">

    <div data-role="header">
        <h1>Run script</h1>
    </div>

    <div data-role="content" data-theme="a">

        <div class="form-field">
            <label>Machine:</label>
            <div id="script-run-machine"
                data-role="collapsible"
                data-iconpos="right"
                data-collapsed-icon="arrow-d"
                data-expanded-icon="arrow-u"
                data-theme="a"
                class="mist-select">
                <h4>
                    {{#with Mist.scriptRunController.scriptToRun}}
                        {{#if this.machine}}
                            {{this.machine.name}}
                        {{else}}
                            Select
                        {{/if}}
                    {{/with}}
                </h4>
                <ul data-role="listview" data-theme="a">
                    {{#each Mist.backendsController.content}}
                    {{#if this.enabled}}
                        {{#each this.machines.content}}
                        {{#if this.hasKeys}}
                            <li data-icon="false">
                                <a {{action "machineClicked" this target="view"}}>
                                    {{this.name}}
                                </a>
                            </li>
                        {{/if}}
                        {{/each}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="form-field">
            <label for="script-params">Parameters (optional):</label>
            {{view Mist.TextArea
                data-theme="a"
                id="script-params"
                valueBinding=Mist.scriptRunController.scriptToRun.parameters}}
        </div>

        {{#if Mist.scriptsController.runningScript}}
            <div class="ajax-loader"></div>
        {{/if}}

        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
            <a class="ui-btn ui-btn-a ui-shadow ui-corner-all"
                {{action "backClicked" target="view"}}>Back</a>
            <a id="new-script-ok" data-theme="d"
                {{bind-attr class="view.isReady::ui-state-disabled :ui-btn :ui-btn-d"}}
                {{action "runClicked" target="view"}}>Run</a>
        </div>
    </div>
</div>
