<div id="script-run"
    class="large-popup"
    data-role="popup"
    data-position="right"
    data-display="overlay"
    data-overlay-theme="b"
    data-transition="slideup">

    <div id="run-script"
         class="large-popup
            ui-popup
            ui-body-a
            ui-overlay-shadow
            ui-corner-all"
         data-role="popup"
         data-enhanced="true">

        <div class="ui-header ui-bar-b ui-caps">
            <h1 class="ui-title">Run script</h1>

            <a href="javascript:void(0)" class="close" data-rel="back">&#10005;</a>
        </div>

        <div data-role="content" data-theme="a">

            <div class="form-field {{if Mist.scriptRunController.scriptToRun.machine.name 'filled' 'empty'}} required">
                <label>Machine</label>
                <div id="script-run-machine"
                    data-role="collapsible"
                    data-iconpos="right"
                    data-collapsed-icon="carat-d"
                    data-expanded-icon="carat-u"
                    data-theme="d"
                    class="mist-select">
                    <h4>
                        {{#with Mist.scriptRunController.scriptToRun as |script|}}
                            {{#if script.machine}}
                                {{script.machine.name}}
                            {{else}}
                                Select
                            {{/if}}
                        {{/with}}
                    </h4>
                    <ul data-role="listview" data-theme="a">
                        {{#each Mist.cloudsController.model as |cloud|}}
                        {{#if cloud.enabled}}
                            {{#each cloud.machines.model as |machine|}}
                            {{#if machine.hasKeys}}
                                <li data-icon="false">
                                    <a {{action "machineClicked" machine target=view}}>
                                        {{machine.name}}
                                    </a>
                                </li>
                            {{/if}}
                            {{/each}}
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="form-field">
                <label for="script-params">Parameters (optional)</label>
                {{view Mist.TextArea
                    data-theme="a"
                    id="script-params"
                    value=Mist.scriptRunController.scriptToRun.parameters}}
            </div>

            <!--
                Select script scheduler
            -->

            <div id="script-run-scheduler" class="form-field {{if Mist.scriptRunController.scriptToRun.scheduler.label 'filled' 'empty'}} required">
                <label>Scheduler</label>
                <div  class="mist-select"
                    data-role="collapsible"
                    data-iconpos="right"
                    data-collapsed-icon="carat-d"
                    data-expanded-icon="carat-u">
                        <h4>
                            {{Mist.scriptRunController.scriptToRun.scheduler.label}}
                        </h4>
                        <ul data-role="listview">
                            {{#each view.scriptSchedulers as |scriptSchedule|}}
                                <li data-icon="false" data-theme="a">
                                    <a {{action "selectScheduler" scriptSchedule target=view}}>{{scriptSchedule.label}}</a>
                                </li>
                            {{/each}}
                        </ul>
                </div>
            </div>



            {{#if view.isOneOff}}
                <div class="form-field">
                    <!-- <div class="form-field">
                        <input id="datetimepicker" type="text" >
                    </div> -->
                </div>
            {{/if}}

            {{#if view.isInterval}}
                <div id="script-run-interval-period" class="form-field {{if Mist.scriptRunController.scriptToRun.interval.period 'filled' 'empty'}} required">
                    <label>Period</label>
                    <div class="mist-select"
                        data-role="collapsible"
                        data-iconpos="right"
                        data-collapsed-icon="carat-d"
                        data-expanded-icon="carat-u">
                        <h4>
                            {{#if Mist.scriptRunController.scriptToRun.interval.period}}
                                {{Mist.scriptRunController.scriptToRun.interval.period.label}}
                            {{else}}
                                Select period
                            {{/if}}
                        </h4>
                        <ul data-role="listview">
                            {{#each view.scriptPeriods as |period|}}
                                <li data-icon="false" data-theme="a">
                                    <a {{action "selectPeriod" period target=view}}>{{period.label}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

                {{#if Mist.scriptRunController.scriptToRun.interval.period}}
                    <div id="script-run-interval-every" class="form-field {{if Mist.scriptRunController.scriptToRun.interval.every 'filled' 'empty'}} required">
                        <label>Every</label>
                        <div  class="mist-select"
                            data-role="collapsible"
                            data-iconpos="right"
                            data-collapsed-icon="carat-d"
                            data-expanded-icon="carat-u">
                            <h4>
                                {{#if Mist.scriptRunController.scriptToRun.interval.every}}
                                    {{Mist.scriptRunController.scriptToRun.interval.every}}
                                {{else}}
                                    Select interval
                                {{/if}}
                            </h4>
                            <ul data-role="listview">
                                {{#each view.scriptEveryOptions as |every|}}
                                    <li data-icon="false" data-theme="a">
                                        <a {{action "selectEvery" every target=view}}>{{every}}</a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                {{/if}}
            {{/if}}

            {{#if view.isCron}}
                <div id="script-run-crontab-minute" class="form-field {{if Mist.scriptRunController.scriptToRun.crontab.minute 'filled' 'empty'}} required">
                    <label>Minute</label>
                    <div class="mist-select"
                        data-role="collapsible"
                        data-iconpos="right"
                        data-collapsed-icon="carat-d"
                        data-expanded-icon="carat-u">
                        <h4>
                            {{#if Mist.scriptRunController.scriptToRun.crontab.minute}}
                                {{Mist.scriptRunController.scriptToRun.crontab.minute}}
                            {{else}}
                                Select minutes
                            {{/if}}
                        </h4>
                        <ul data-role="listview">
                            {{#each view.crontabMinutes as |minute|}}
                                <li data-icon="false" data-theme="a">
                                    <a {{action "selectCrontabMinute" minute target=view}}>{{minute}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

                <div id="script-run-crontab-hour" class="form-field {{if Mist.scriptRunController.scriptToRun.crontab.hour 'filled' 'empty'}} required">
                    <label>Hour</label>
                    <div class="mist-select"
                        data-role="collapsible"
                        data-iconpos="right"
                        data-collapsed-icon="carat-d"
                        data-expanded-icon="carat-u">
                        <h4>
                            {{#if Mist.scriptRunController.scriptToRun.crontab.hour}}
                                {{Mist.scriptRunController.scriptToRun.crontab.hour}}
                            {{else}}
                                Select hour
                            {{/if}}
                        </h4>
                        <ul data-role="listview">
                            {{#each view.crontabHours as |hour|}}
                                <li data-icon="false" data-theme="a">
                                    <a {{action "selectCrontabHour" hour target=view}}>{{hour}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

                <div id="script-run-crontab-day-of-week" class="form-field {{if Mist.scriptRunController.scriptToRun.crontab.day_of_week 'filled' 'empty'}} required">
                    <label>Day of week</label>
                    <div class="mist-select"
                        data-role="collapsible"
                        data-iconpos="right"
                        data-collapsed-icon="carat-d"
                        data-expanded-icon="carat-u">
                        <h4>
                            {{#if Mist.scriptRunController.scriptToRun.crontab.day_of_week}}
                                {{Mist.scriptRunController.scriptToRun.crontab.day_of_week}}
                            {{else}}
                                Select day
                            {{/if}}
                        </h4>
                        <ul data-role="listview">
                            {{#each view.crontabDaysOfWeek as |day|}}
                                <li data-icon="false" data-theme="a">
                                    <a {{action "selectCrontabDayOfWeek" day target=view}}>{{day}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

                <div id="script-run-crontab-day-of-month" class="form-field {{if Mist.scriptRunController.scriptToRun.crontab.day_of_month 'filled' 'empty'}} required">
                    <label>Day of month</label>
                    <div class="mist-select"
                        data-role="collapsible"
                        data-iconpos="right"
                        data-collapsed-icon="carat-d"
                        data-expanded-icon="carat-u">
                        <h4>
                            {{#if Mist.scriptRunController.scriptToRun.crontab.day_of_month}}
                                {{Mist.scriptRunController.scriptToRun.crontab.day_of_month}}
                            {{else}}
                                Select day
                            {{/if}}
                        </h4>
                        <ul data-role="listview">
                            {{#each view.crontabDaysOfMonth as |day|}}
                                <li data-icon="false" data-theme="a">
                                    <a {{action "selectCrontabDayOfMonth" day target=view}}>{{day}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

                <div id="script-run-crontab-month-of-year" class="form-field {{if Mist.scriptRunController.scriptToRun.crontab.month_of_year 'filled' 'empty'}} required">
                    <label>Month of year</label>
                    <div class="mist-select"
                        data-role="collapsible"
                        data-iconpos="right"
                        data-collapsed-icon="carat-d"
                        data-expanded-icon="carat-u">
                        <h4>
                            {{#if Mist.scriptRunController.scriptToRun.crontab.month_of_year}}
                                {{Mist.scriptRunController.scriptToRun.crontab.month_of_year}}
                            {{else}}
                                Select month
                            {{/if}}
                        </h4>
                        <ul data-role="listview">
                            {{#each view.crontabMonthsOfYear as |month|}}
                                <li data-icon="false" data-theme="a">
                                    <a {{action "selectCrontabMonthOfYear" month target=view}}>{{month}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            {{/if}}

            {{#if Mist.scriptsController.runningScript}}
                <div class="ajax-loader"></div>
            {{/if}}

            <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
                <a id="new-script-ok" data-theme="d"
                    class="{{if view.isReady '' 'ui-state-disabled'}} ui-btn ok-only ui-btn-d ui-caps"
                    {{action "runClicked" target=view}}>Run</a>
            </div>
        </div>
    </div>
</div>
