<table class="info-table">
    <tbody>
    {{#if subnet.name}}
    <tr>
        <td class="subnet-name">Name</td>
        <td class="subnet-name">{{subnet.name}}</td>
    </tr>
    {{/if}}
    {{#if id}}
    <tr>
        <td>Id</td>
        <td>{{subnet.id}}</td>
    </tr>
    {{/if}}
    {{#if subnet.zone}}
    <tr>
        <td>Zone</td>
        <td>{{subnet.zone.name}}</td>
    </tr>
    {{/if}}
    {{#if subnet.cidr}}
    <tr>
        <td>Cidr</td>
        <td>{{subnet.cidr}}</td>
    </tr>
    {{/if}}
    {{#if subnet.enable_dhcp}}
    <tr>
        <td>DHCP Enabled</td>
        <td>{{subnet.enable_dhcp}}</td>
    </tr>
    {{/if}}
    {{#if subnet.gateway_ip}}
    <tr>
        <td>Gateway IP</td>
        <td>{{unbound subnet.gateway_ip}}</td>
    </tr>
    {{/if}}
    {{#if subnet.dns_nameservers.length}}
    <tr>
        <td>DNS Nameservers</td>
        <td>
            {{#each subnet.dns_nameservers as |nameserver|}}
            <div class="ip">{{unbound nameserver}}</div>
            {{/each}}
        </td>
    </tr>
    {{/if}}
    {{#if allocation_pools.length}}
    <tr>
        <td>Allocation pools</td>
        <td>
            {{#each subnet.allocation_pools as |pool|}}
            <div class="ip">{{unbound pool.start}}</div> -
            <div class="ip">{{unbound pool.end}}</div>
            {{/each}}
        </td>
    </tr>
    {{/if}}

    {{#if subnet.ipAddresses.model}}
    <tr>
        <td class="usable-ips" colspan="2">
            <h4>Usable ip addresses ({{subnet.ipAddresses.model.length}})</h4>
        </td>
    </tr>

    {{#each subnet.ipAddresses.model as |ip|}}
        {{component "ip-address-list-item" model=ip}}
    {{/each}}
    {{/if}}
    </tbody>
</table>
