<!-- Add team button -->
<div id="add-team" class="ui-link ui-btn ui-btn-add ui-btn-d ui-shadow floating-collapsible" data-role="collapsible" data-collapsed="true">

    <h4><span class="title">Create team</span></h4>

    <div id="team-add" class="ui-content">
        <form {{action "saveClicked" on="submit" target=view}}>

            <!-- Name -->
            <div class="form-field {{if Mist.teamAddController.newTeam.name 'filled' 'empty'}} required">
                <label for="team-name">Name</label>
                {{view Mist.TextField data-theme="a" id="team-name" value=Mist.teamAddController.newTeam.name}}
            </div>

            <!-- Description -->
            <div id="team-add-description" class="form-field">
                <label for="team-description">Description (optional)</label>
                {{view Mist.TextArea data-theme="a" id="team-description" value=Mist.teamAddController.newTeam.description}}
            </div>

            {{#if Mist.teamsController.addingTeam}}
                <div class="ajax-loader"></div>
            {{/if}}

            <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
                <button type="submit" id="new-team-ok" class="{{if view.isReady '' 'ui-state-disabled'}} ui-btn ui-btn-d ui-shadow ui-caps ok-only" {{action "addClicked" target=view}}>Add</button>
            </div>
        </form>
    </div>
</div>


<div id="add-team-overlay" class="ui-popup-screen ui-overlay-b ui-screen-hidden" {{action "clickOverlay" target=view}}></div>
