<div id="team-list-page" data-role="page" class="ui-page-active">

    <div data-role="header" data-theme="a">
        <!-- Page header -->
        <div class="ui-header ui-bar-a">
            <div class="header-grid">
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        {{#link-to 'index' class="responsive-button ui-btn icon-prev ui-alt-icon ui-caps
                        ui-btn-icon-left ui-corner-all nav-back" }}<span>Home</span>{{/link-to}}
                    </div>

                    <div class="ui-block-b">
                        <h1 class="ui-title">Teams</h1>
                    </div>

                    <div class="ui-block-c">
                        <div class="user-menu">
                            {{component "user-menu"}}
                        </div>
                    </div>
                </div>
                <!-- /grid-b -->
            </div>
        </div>
    </div>

    <div role="main" class="ui-content" data-theme="c">
        <div id="team-list-container" class="ui-shadow">
            <div class="ui-grid-a teams-header">
                <div class="ui-block-a">
                    {{#if Mist.teamsController.model.length}}
                        <a id="select-teams-btn" class="responsive-button ui-btn ui-btn-add ui-btn-d icon-down
                                ui-btn-icon-right" {{action "selectClicked" target=view}}></a>
                    {{/if}}
                </div>
                <div class="ui-block-b">
                    {{component "team-add"}}
                </div>
            </div>
            <!-- /grid-b -->

            {{#if Mist.teamsController.model.length}}
                <div class="team-search-container">
                    {{#if Mist.teamsController.searchTerm}}
                        <span {{action "clearClicked" target=view}} class="icon-xx"></span>
                    {{else}}
                        <span class="icon-search"></span>
                    {{/if}}
                    {{input value=Mist.teamsController.searchTerm placeholder="Filter teams" class="team-search"}}
                </div>

                <ul id="team-list" data-role="listview" data-inset="true" class="checkbox-list">
                    {{#each Mist.teamsController.sortedTeams as |team|}}
                        {{component "team-list-item" team=team class="checkbox-link"}}
                    {{/each}}
                </ul>
            {{/if}}
        </div>

        <div class="mid-padding"></div>
    </div>

    {{component "dialog-popup"}}

    {{component "team-edit"}}

    <div id="select-teams-popup" class="ui-mini" data-role="popup" data-transition="flip" data-position-to="#select-teams-btn">
        <div class="ui-header ui-caps">Sort by</div>
        <ul data-role="listview">
            <li>
                <a class="ui-btn ui-btn-icon-left {{if Mist.teamsController.sortByName 'icon-check'}}" {{action "sortBy" "name" target=view}}>Name</a>
            </li>
        </ul>

        <div class="ui-header ui-caps">Select</div>
        <ul data-role='listview'>
            <li data-icon="false">
                <a {{action "selectionModeClicked" true target=view}}>All</a>
            </li>
            <li data-icon="false">
                <a {{action "selectionModeClicked" false target=view}}>None</a>
            </li>
        </ul>
    </div>

    <div class="dual-action-footer" data-role="footer" data-theme="b">
        <div class="ui-grid-a">
            <div class="{{if view.canRename '' 'ui-state-disabled'}} ui-block-a">
                <a class="ui-btn ui-btn-icon-right ui-caps icon-edit" {{action "editClicked" target=view}}>Edit</a>
            </div>
            <div class="{{if view.canDelete '' 'ui-state-disabled'}} ui-block-b">
                <a class="ui-btn ui-btn-icon-right ui-caps icon-xx" {{action "deleteClicked" target=view}}>Delete</a>
            </div>
        </div>
    </div>
</div>
