<label>
    {{#if view.isDisabled}}
        {{view Mist.Checkbox checked=team.selected data-disabled="true"}}
    {{else}}
        {{view Mist.Checkbox checked=team.selected}}
    {{/if}}
</label>

{{#link-to "team" team}}
    <div class="ui-grid-b">
        <div class="ui-block-a team-name">{{team.name}}</div>
        <div class="ui-block-b team-members">{{view.membersText}}</div>
        <div class="ui-block-c"></div>
    </div>
{{/link-to}}
