{{#if view.isDisabled}}
    <label>{{view Mist.Checkbox checked=team.selected data-disabled="true"}}</label>
{{else}}
    <label>{{view Mist.Checkbox checked=team.selected}}</label>
{{/if}}

{{#link-to "team" team}}
    <div class="ui-grid-b">
        <div class="ui-block-a team-name">{{team.name}}</div>
        <div class="ui-block-b team-members">{{view.membersText}}</div>
        <div class="ui-block-c"></div>
    </div>
{{/link-to}}
