<a id="me-btn"
   class="ui-btn-right ui-btn ui-shadow ui-corner-all"
   {{action "meClicked" target="view"}}>
    {{#if view.gravatarURL}}
        <img class="gravatar-image" {{bind-attr src="view.gravatarURL"}}/>
    {{else}}
        <div class="gravatar-image user"></div>
    {{/if}}
    &nbsp;</a>

<div id="user-menu-popup" class="ui-mini" data-role="popup" data-position-to="#me-btn" data-theme="c" data-overlay-theme="b" data-transition="flip">

    <div data-role="content">

        <div id="user-email">{{EMAIL}}</div>

        <a href="http://docs.mist.io/contact"
           target="_blank"
           class="ui-btn ui-btn-b ui-shadow ui-corner-all ui-mini">
           Support</a>

        <a href="http://docs.mist.io/"
           target="_blank"
           class="ui-btn ui-btn-b ui-shadow ui-corner-all ui-mini">
           Docs</a>

        {{#if Mist.authenticated}}

            <a class="ui-btn ui-btn-b ui-shadow ui-corner-all ui-mini"
               {{bind-attr href="view.accountUrl"}}
               {{bind-attr target="view.isNotCore"}}>Account</a>


            {{#if Mist.isCore}}
                <a class="ui-btn ui-btn-b ui-shadow ui-corner-all ui-mini"
                    {{action "logoutClicked" target="view"}}>Logout</a>
            {{/if}}
        {{else}}
            {{#unless Mist.isCore}}
                <a class="ui-btn ui-btn-b ui-shadow ui-corner-all ui-mini"
                    {{action "loginClicked" target="view"}}>Login</a>
            {{/unless}}
        {{/if}}

    </div>

</div>

{{view "login"}}

{{view "messageBox"}}
